@font-face {
  font-family: 'Formular';
  src: url("../fonts/hinted-Formular-Medium.eot");
  src: url("../fonts/hinted-Formular-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Formular-Medium.woff2") format("woff2"), url("../fonts/hinted-Formular-Medium.woff") format("woff"), url("../fonts/hinted-Formular-Medium.svg#Formular-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Formular';
  src: url("../fonts/hinted-Formular-Bold.eot");
  src: url("../fonts/hinted-Formular-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Formular-Bold.woff2") format("woff2"), url("../fonts/hinted-Formular-Bold.woff") format("woff"), url("../fonts/hinted-Formular-Bold.svg#Formular-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Formular';
  src: url("../fonts/hinted-Formular-Black.eot");
  src: url("../fonts/hinted-Formular-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Formular-Black.woff2") format("woff2"), url("../fonts/hinted-Formular-Black.woff") format("woff"), url("../fonts/hinted-Formular-Black.svg#Formular-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Formular';
  src: url("../fonts/hinted-Formular.eot");
  src: url("../fonts/hinted-Formular.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Formular.woff2") format("woff2"), url("../fonts/hinted-Formular.woff") format("woff"), url("../fonts/hinted-Formular.svg#Formular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
    --main: red;
    --shadow: rgba(255, 0, 0, 0.05);
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8; }
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

*::-webkit-input-placeholder {
  opacity: 1; }

*:-moz-placeholder {
  opacity: 1; }

*::-moz-placeholder {
  opacity: 1; }

*:-ms-input-placeholder {
  opacity: 1; }

*,
*:after,
*:before {
  box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: top; }

html {
  font-size: 10px; }

body {
  margin: 0;
  width: 100%;
  font-size: 1.4rem;
  position: relative;
  line-height: 17px;
  letter-spacing: 0.01em;
  font-family: Verdana, sans-serif;
  overflow-x: hidden;
  color: #4a4a4a;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

button,
input,
optgroup,
select,
textarea {
  font-family: Verdana, sans-serif; }

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.34%;
  position: relative; }
  .flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.modals {
  background: white;
  padding: 2rem 3rem;
  text-align: left;
  max-width: 40rem;
  margin: 4rem auto;
  position: relative; }

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  text-align: left; }
  .table-responsive {
    min-height: .01%;
    overflow-x: auto; }

h1,
.h1 {
  margin: 0 0 1em; }

h2,
.h2 {
  margin: 0 0 1em; }

h3,
.h3 {
  margin: 0 0 1em; }

h4,
.h4 {
  margin: 0 0 1em; }

h5,
.h5 {
  margin: 0 0 1em; }

h6,
.h6 {
  margin: 0 0 1em; }

.nav__toggle {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 14px; }
  .nav__toggle span:after,
  .nav__toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px; }
  .nav__toggle span:after {
    top: 18px; }
  .nav__toggle span {
    position: relative;
    display: block; }
  .nav__toggle span,
  .nav__toggle span:after,
  .nav__toggle span:before {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px; }
  .nav__toggle.on span {
    background-color: transparent; }
  .nav__toggle.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0px);
    -ms-transform: rotate(45deg) translate(-1px, 0px);
    transform: rotate(45deg) translate(-1px, 0px); }
  .nav__toggle.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
    -ms-transform: rotate(-45deg) translate(6px, -7px);
    transform: rotate(-45deg) translate(6px, -7px); }

svg.icon {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

body {
  background: #fafafa; }

* {
  outline: none; }

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0 auto;
  position: relative; }

.container {
  /* max-width: 767px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }

.ir {
  display: block;
}
.header__user {
  display: none;
}

.table-zapis {
	display: table
}
.table-zapis {
	width: 100%;
	/* border-collapse: collapse; */
	border-spacing: 0px 10px;
}
.table-zapis th {
	font-family: Verdana;
	font-size: 13px;
	line-height: 20px;
	/* identical to box height, or 154% */
	padding-left: 29px;

	color: #B0B8CC;
}
.table-zapis td {
	text-align: left;
	font-family: Verdana;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 133% */
	height: 65px;
	color: #757575;
	border-top: 1px solid rgba(209, 216, 245, 0.6);
	padding-left: 29px;
	padding-right: 29px;
}
.table-zapis .table-row {
    background: #ffffff;
}
.table-row.highlighted:hover{
    background: rgba(255, 0, 0, 0.03);
}

.filter {
	text-align: right;
	margin-bottom: 50px;
	margin-top: 62px;
}
.filter > a {
	border: 1px solid #cac4c4;
	text-decoration: none;
	padding: 10px;
    color: #4A4A4A;
	border-radius: 5px;
	font-family: Verdana;
    font-size: 13px;
	line-height: 20px;
	background: #FFFFFF;
}
.active {
	border-color: var(--main) !important;
}

.btn {
  font-weight: 400;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5em 1.7em;
  font-size: 1.6rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }

.header {
  background: #ffffff;
  padding: 2rem 0 2rem;
  margin-bottom: 2rem; }
  .header__wr {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center; }
  .header__toggle {
    display: none;
    -webkit-box-flex: 0;
    flex: 0 0 4.4rem;
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    color: currentColor;
    fill: currentColor; }
  .header__info {
    display: none;
    text-align: center;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    -webkit-box-flex: 1;
    flex: 1 1;
    font-family: Formular, Verdana, sans-serif; }
  .header__name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .3em; }
  .header__user {
    line-height: 0;
    width: 4rem;
    color: inherit;
    fill: currentColor; }
    .header__user.active {
      color: var(--main); }

.block {
  margin-bottom: 2rem;
  background: #ffffff;
  position: relative; }
  .block.line {
    border-top: 1px solid #e3e8f9; }
  .block__head {
    font-family: Formular, Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.01em;
    background: #f3f3f3;
    box-shadow: 0px 0px 4px var(--shadow);
    padding: 1.3rem 1.6rem 1.4rem; }
  .block__content {
    padding: .9rem 0 1rem;
    background: #ffffff;
    box-shadow: 0px 2px 4px var(--shadow);
    border-radius: 0px; }
  .block__item {
    padding: .5rem 1.6rem .5rem; }
    .block__item-hide {
      display: none; }
  .block__title {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin: .5rem 0;
    letter-spacing: 0.01em; }
  .block__text {
    margin: .5rem 0;
    font-size: 1.4rem; }
  .block__info {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    padding: .6rem 0 0.2rem;
    margin: 0 1.6rem 0.3rem;
    border-bottom: .3rem solid #ebebeb; }
    .block__info_ava {
      -webkit-box-flex: 0;
      flex: 0 0 5rem;
      max-font-size: 5rem;
      margin: .8rem 2.2rem 1rem 0; }
    .block__info_middle {
      -webkit-box-flex: 1;
      flex: 1 1; }
    .block__info_right {
      flex-shrink: 0;
      margin-left: 1rem; }
  .block__row {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .block__toggle {
    border: none;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 14px;
    line-height: 17px;
    color: var(--main);
    background: none;
    box-shadow: none;
    cursor: pointer; }
  .block__pdf {
    /*background-image: url("data:image/svg+xml,%3Csvg fill='red' xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 409.4 500' xml:space='preserve'%3E%3Cpath d='M406.7 112.2L295.2 2.4C293.7.9 291.6 0 289.4 0H83.7C52.6 0 27.4 26.6 27.4 59.4v219.2H0v148.6h27.4v13.4c0 32.7 25.3 59.4 56.3 59.4h269.4c31.1 0 56.3-26.6 56.3-59.4V118.7c0-2.4-.9-4.8-2.7-6.5zM286.6 18.4l97 95.6h-52.8c-24.4 0-44.2-19.5-44.2-43.4V18.4zm105.8 422.2c0 22.9-17.6 41.5-39.3 41.5H83.7c-21.7 0-39.3-18.6-39.3-41.5v-13.4h187c36.5 0 66-33.3 66-74.3s-29.6-74.3-66-74.3h-187V59.4c0-22.9 17.6-41.5 39.3-41.5h185.9v52.7c0 33.8 27.4 61.3 61.2 61.3h61.6v308.7zM52.6 390.4v-75h28.7c8.3 0 14.8 2.1 19.4 6.4s7 9.9 7 16.9-2.3 12.7-7 16.9c-4.7 4.2-11.2 6.4-19.4 6.4H65.1v28.4H52.6zm70.3 0v-75h24.8c9.5 0 17.2 3 23.2 8.9s8.9 13.6 8.9 22.9v11.4c0 9.4-3 17-8.9 22.9-6 5.9-13.7 8.9-23.2 8.9h-24.8zm116.6-42v10h-30.2v32h-12.6v-75h48v10h-35.5v22.9h30.3v.1z' class='st0'/%3E%3Cpath d='M91.8 348.2c2.3-2.5 3.5-5.6 3.5-9.4s-1.2-7-3.5-9.5-5.8-3.8-10.5-3.8H65.1V352h16.2c4.7-.1 8.1-1.3 10.5-3.8zM147.7 325.5h-12.3v55h12.3c6 0 10.8-2 14.3-6.1s5.3-9.3 5.3-15.7v-11.5c0-6.3-1.8-11.5-5.3-15.6s-8.3-6.1-14.3-6.1z' class='st0'/%3E%3C/svg%3E");*/
    /*background-size: contain;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    fill: var(--main);
    width: 3.6rem;
    height: 4.4rem;
    display: inline-block;
    vertical-align: top;
    margin: 1.5rem 2.3rem 0 0; }
  .block__email {
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.974 511.974'%3E%3Cpath d='M511.872 195.725a8.065 8.065 0 00-.35-1.732 8.533 8.533 0 00-.486-1.468 7.655 7.655 0 00-.853-1.306 8.046 8.046 0 00-1.135-1.323c-.137-.119-.196-.282-.341-.401l-82.065-63.735V59.704c0-14.138-11.462-25.6-25.6-25.6h-92.476L271.539 5.355a25.302 25.302 0 00-31.121 0l-37.035 28.749h-92.476c-14.138 0-25.6 11.461-25.6 25.6v66.057L3.268 189.496c-.145.12-.205.282-.341.401a8.005 8.005 0 00-1.135 1.323 7.616 7.616 0 00-.853 1.306 8.42 8.42 0 00-.486 1.468 8.087 8.087 0 00-.35 1.707c0 .179-.102.333-.102.512V486.37a25.313 25.313 0 005.009 15.061c.051.077.06.171.119.239.06.068.188.145.273.239a25.475 25.475 0 0020.173 10.061h460.8a25.482 25.482 0 0020.241-10.103c.068-.085.171-.111.23-.196.06-.085.068-.162.12-.239a25.317 25.317 0 005.009-15.061V196.237c-.001-.179-.094-.333-.103-.512zM250.854 18.82a8.182 8.182 0 0110.18 0l19.686 15.283h-49.493l19.627-15.283zM27.725 494.904l223.13-173.321a8.193 8.193 0 0110.18 0l223.189 173.321H27.725zM494.908 481.6L271.539 308.117a25.319 25.319 0 00-31.121 0L17.041 481.6V209.233L156.877 317.82a8.536 8.536 0 0011.977-1.515 8.536 8.536 0 00-1.515-11.977L25.276 194.018l60.032-46.652v65.937a8.533 8.533 0 0017.066 0v-153.6a8.533 8.533 0 018.533-8.533H401.04a8.533 8.533 0 018.533 8.533v153.6a8.533 8.533 0 0017.066 0v-65.937l60.032 46.652-142.31 110.507a8.533 8.533 0 1010.462 13.482l140.083-108.774V481.6z' class='active-path'/%3E%3Cpath d='M358.374 204.77v-34.133c0-56.554-45.846-102.4-102.4-102.4-56.554 0-102.4 45.846-102.4 102.4s45.846 102.4 102.4 102.4c4.713 0 8.533-3.82 8.533-8.533s-3.82-8.533-8.533-8.533c-47.128 0-85.333-38.205-85.333-85.333s38.205-85.333 85.333-85.333 85.333 38.205 85.333 85.333v34.133c0 9.426-7.641 17.067-17.067 17.067s-17.067-7.641-17.067-17.067v-34.133c0-4.713-3.82-8.533-8.533-8.533s-8.533 3.82-8.533 8.533c0 18.851-15.282 34.133-34.133 34.133-18.851 0-34.133-15.282-34.133-34.133s15.282-34.133 34.133-34.133c4.713 0 8.533-3.82 8.533-8.533s-3.82-8.533-8.533-8.533c-22.915-.051-43.074 15.13-49.354 37.168-6.28 22.038 2.847 45.565 22.347 57.601 19.5 12.036 44.622 9.65 61.507-5.843 1.858 18.046 17.543 31.464 35.659 30.505 18.117-.96 32.298-15.958 32.241-34.1z'/%3E%3C/svg%3E");*/
    /*background-size: contain;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    fill: var(--main);
    width: 4.4rem;
    height: 4.4rem;
    display: inline-block;
    vertical-align: top;
    margin: 1.5rem 2.3rem 0 0; }

.nav {
  background: #ffffff;
  /* padding-bottom: 3rem; */
  position: absolute;
  left: 0;
  top: 0;
  /*right: 80%;*/
  bottom: 0;
  overflow: auto;
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  @media (min-width : 767px) {
    .nav:not(.active) {
        /* opacity: 0;
        visibility: hidden;  */
        overflow: hidden;
        width: 75px;
    }
  }
  .nav__top {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 2rem 0 3rem; }
  .nav__close {
    -webkit-box-flex: 0;
    flex: 0 0 4rem;
    padding: 0;
    background: none;
    box-shadow: none;
    border: 0;
    margin: 0 3.5rem 0 0;
    cursor: pointer; }
  .nav__close img{
      height: 40px;
  }
  .nav__info {
    font-size: 14px;
    -webkit-box-flex: 1;
    flex: 1 1; }
  .nav__title {
    font-family: Formular, Verdana, sans-serif;
    margin-bottom: .6rem; }
  .nav__desc {
    color: #b9b9b9; }
  .nav__list {
    margin-bottom: 2.4rem; }
  .nav__item {
    position: relative; }
  .nav__link {
    min-height: 6rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: .5rem 0 .5rem 5.5rem;
    position: relative;
    color: #4a4a4a;
    text-decoration: none;

    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
   .router-link-active .nav__link{
       border-bottom: 1px solid #f4f4f4;
   }
    .nav__link:hover, .nav__link.router-link-active .nav__icon {
      color: var(--main); }
  .nav__icon {
    width: 4rem;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    fill: currentColor; }
  .nav__logo {
    margin-top: 1.3rem; }
  .nav__exit {
    width: 4rem;
    color: var(--main);
    display: -webkit-inline-box;
    display: inline-flex; }
    .nav__exit svg {
      width: 100%;
      height: 100%;
      padding-top: 12px;
      fill: currentColor; }

.title {
  font-family: Formular, Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  margin: -0.6rem 0 1.6rem; }

.select {
  background: #ffffff;
  border: 1px solid var(--main);
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 2rem; }
  .select:not(.active) .select__current:after {
    -webkit-transform: scaleY(1) translateY(-50%);
    -ms-transform: scaleY(1) translateY(-50%);
    transform: scaleY(1) translateY(-50%); }
  .select__current {
    font-weight: bold;
    letter-spacing: 0.02em;
    padding: 1.1rem 2.6rem 1rem 1.6rem;
    background-size: 1rem auto;
    cursor: pointer;
    position: relative; }
    .select__current:after {
      content: "";
      position: absolute;
      right: 1rem;
      top: 50%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 8'%3E%3Cpath stroke='gray' d='M4.567 7.25a.5.5 0 00.866 0l3.464-6A.5.5 0 008.464.5H1.536a.5.5 0 00-.433.75l3.464 6z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 1rem;
      height: 2rem;
      -webkit-transform: scaleY(-1) translateY(50%);
      -ms-transform: scaleY(-1) translateY(50%);
      transform: scaleY(-1) translateY(50%); }
  .select__list {
    margin: 1px 0 -3px; }
    .select__list li {
      border-top: 1px solid #f4f4f4;
      padding: 1.47rem 2.6rem 1.47rem 1.6rem;
      position: relative;
      cursor: pointer; }
      .select__list li.current:before {
        position: absolute;
        right: 1.15rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 0.65rem;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        content: "";
        background: var(--main); }

.footer {
  margin-top: auto; }

.display-xs {
  display: none;
}

.display-lg {
  display: table;
}

.block__toggle_table {
  border: none;
    /* position: absolute; */
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 14px;
    line-height: 17px;
    color: var(--main);
    background: none;
    box-shadow: none;
    cursor: pointer;
}

.none__sm {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.blocks {
	display: table;
	height: 100%;
	/* text-align: center; */
}
.block1 {
	width: 50%;
	float: left !important;
}
.block2 {
	float: left;
  text-align: left;
  width: 50%;
}
.clinic-name {
	font-family: Formular;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	display: table-cell;
    vertical-align: middle;
	color: #4A4A4A;
}
.clinic-address {
	font-family: Verdana;
	font-size: 14px;
	line-height: 24px;
	/* identical to box height, or 129% */
	display: table-cell;
    vertical-align: middle;
	color: rgba(104, 104, 104, 0.6);
}
.ir {
	cursor: pointer;
	background: #FFFFFF;
	border: 1px solid var(--main);
	border-radius: 5px;
	width: 210px;
	display: table-cell;
  vertical-align: middle;
  /* Записаться на прием */
	font-family: Verdana;
	font-size: 12px;
	line-height: 30px;
	/* identical to box height, or 167% */
	text-align: center;
	text-decoration: none;
	color: #4A4A4A;
	font-weight: bold;
}
.ir:hover {
	/* border: 1px solid #FF2222; */
    box-sizing: border-box;
    box-shadow: 0px 13px 23px var(--shadow)
    /* border-radius: 2px; */
}
.nav__info {
  display: none;
}
.content {
  margin-left: 75px;
}

.blackout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(117, 117, 117, 0.49);
    opacity: 1;
}

.preloader {
    width: 245px;
    height: 105px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 15px 25px;
    background: white;
    border-radius: 7px;
    opacity: 1;
}

.archimed-modal .modal-content {
    border-radius: 8px;
}
.archimed-modal .modal-header {
    border-bottom: 0;
    padding-top: 1.5rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.archimed-modal .modal-header h3 {
    font-size: 1.313rem;
}
.archimed-modal .modal-footer {
    border-top: 0;
    padding-top: 0;
}
.archimed-modal .modal-header .close {
    width: 1.375rem;
    height: 1.375rem;
    background: url(/img/close.svg) no-repeat;
    background-size: 1.375rem 1.375rem;
    margin-top: 5px;
}
.archimed-modal .modal-header h3 {
    font-size: 1.7rem;
}
.archimed-modal .modal-body {
    padding-bottom: 1rem;
    padding-left: 2.75rem;
    padding-right: 1.75rem;
}
.archimed-modal .modal-body h5 {
    margin-top: 0;
}
.modal-body .pin, .modal-body .date, .modal-body .time {
    width: 22px;
}
.modal-body .modal-item {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
}

.modal-confirm {
    text-align: center;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    /* overflow: hidden; */
    -webkit-overflow-scrolling: touch;
    /* outline: 0; */
}

.confirm-btn:after {
    position: absolute;
    content: " ";
    width: .75rem;
    height: .75rem;
    top: 12px;
    right: 19px;
    background: url(/img/arrow_white.png) no-repeat;
    background-size: .75rem .75rem;
}
.confirm-btn:hover {
    color: #fff;
}
.btn-disable {
    user-select: none!important;
    background-color: #ccc!important;
    cursor: default!important;
    outline: none!important;
    pointer-events: none!important;
}
.confirm-btn {
    padding: 0.6875rem 5.7rem 0.8125rem 1.5rem;
}
.confirm-btn {
    background-color: #179ffa;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    position: relative;
}
.modal-checkbox label {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.error, .success {
    padding: 7px;
    margin: 10px 0;
    border-radius: 6px;
    display: block;
}
.error {
    background: rgba(254, 0, 0, 0.16);
    border: 1px solid rgba(237, 0, 0, 0.83);
}
.success {
    background: rgba(0, 254, 0, 0.16);
    border: 1px solid rgba(0, 237, 0, 0.83);
}
.error, .success > span {
    font-family: Verdana;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #686868;
}

@media only screen and (max-width : 766px) {
  body {
    min-width: 320px;
  }
  .container {
		max-width: 767px;
  }
  .ir {
    display: none;
  }
  .header__user {
    display: block;
  }
  .header__info {
    display: block;
  }
  .none__sm {
    display: none;
  }
  .nav {
    right: 0;
  }
  .nav__info {
    display: block;
  }
  .nav:not(.active) {
    opacity: 0;
    visibility: hidden;
  }
  .content {
    margin-left: 0;
  }
  .header__toggle {
    display: block;
  }
  .display-xs {
    display: block;
  }
  .display-lg {
    display: none;
  }
}
