.icon-close:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: 0px 0px;
	background-size: 225px 175px;
	width: 41px;
	height: 40px;
}

.icon-exit:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -46px 0px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -181px 0px;
	background-size: 225px 175px;
	width: 44px;
	height: 29px;
}

.icon-menu_1:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: 0px -45px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_1.active:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -45px -45px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_2:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -91px 0px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_2.active:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -91px -45px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_3:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: 0px -90px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_3.active:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -45px -90px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_4:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -90px -90px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_4.active:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -136px 0px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_5:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -136px -45px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_5.active:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -136px -90px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_6:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: 0px -135px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-menu_6.active:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -45px -135px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-user:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -90px -135px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}

.icon-user.active:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	background-image: url('../images/sprite.png');
	background-position: -135px -135px;
	background-size: 225px 175px;
	width: 40px;
	height: 40px;
}
