@font-face {
	font-family: Verdana; /* Гарнитура шрифта */
	src: url(fonts/Verdana.eot); /* Для IE5-8 */
	src: local(Verdana), url(fonts/Verdana.ttf); /* Для остальных браузеров */
}

@font-face {
	font-family: Formular; /* Гарнитура шрифта */
	src: url(fonts/Formular.eot); /* Для IE5-8 */
	src: local(Formular), url(fonts/Formular.ttf); /* Для остальных браузеров */
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	background: #FAFAFA;
	/* background: rgb(239, 234, 234, 0.22); */
	min-width: 768px;
}
.clear {
	clear: both;
}

.logo-small {
	/* display: table-cell;
    vertical-align: middle;
	padding-left: 15px; */
	padding: 19px 14px;
	bottom: 0px;
    position: absolute;
}

.content {
	min-height: 100%;
}

.fa-2x { 
	font-size: 2,7em; 
} 
.fa { 
	position: relative; 
	display: table-cell; 
	width: 93px; 
	height: 32px; 
	text-align: center; 
	vertical-align: middle; 
	font-size:19.5px; 
} 

/* .lunderarumsa:hover,nav.lunderarumsa.expanded {
	width: 270px;overflow:visible;
}  */
.test {
	width: 20% !important;overflow:visible;
}
.test > .logo-small > svg {
	width: 106px;
    height: auto;
    margin-top: 10%;
    margin-left: 7%;
}
.test2 {
	width: 85%;
    /* text-align: right; */
    margin: 0;
    left: 270px;
}
.lunderarumsa {
	/* position: fixed;
	display: grid;
	border-right: 1px solid #cac4c4;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:80px;
	overflow:hidden;
	-webkit-transition: width .05s cubic-bezier(0, 0, 0.78, 1.01);
	transition: width .05s cubic-bezier(0, 0, 0.75, 1);
	-webkit-transform:translateZ(0) scale(1,1);
	z-index:1000;
	background-color: #FFFFFF;
	margin-top: 70px; */
	position: fixed;
	display: grid;
	border-right: 1px solid #cac4c4;
	width: 91px;
	min-height: 100%;
	background-color: #FFFFFF;
	overflow: hidden;
} 

.lunderarumsa>ul { 
	margin:7px 0; 
	vertical-align: middle;
    display: table-cell;
} 

.lunderarumsa li { 
	position:relative; 
	display:block; 
	width:99%; 
} 
.liactive {
	border-right: 10px solid red;
}
.lunderarumsa li>a { 
	margin-bottom: 7%;
	position:relative; 
	display:table; 
	border-collapse:collapse; 
	border-spacing:0; 
	color:#405169; 
  	font-family: arial; 
	font-size: 13.9px; 
	text-decoration:none; 
	-webkit-transform:translateZ(0) scale(1,1); 
	-webkit-transition:all .1s cubic-bezier(0, 0, 0.8, 1.01); 
	transition:all .1s cubic-bezier(0, 0, 0.85, 0.99); 
} 

.lunderarumsa .nav-icon { 
	position:relative; 
	display:table-cell; 
	width: 90px !important;
	height:28px; 
	text-align:center; 
	vertical-align:middle; 
	font-size:19.5px; 
} 

.lunderarumsa .urewuhise_koltunkers { 
	position:relative; 
	display:table-cell; 
	vertical-align:middle; 
	width:187.3px; 
	font-family: Verdana; 
	font-size: 16px;
	line-height: 17px;

	color: #727272;
} 

.lunderarumsa>ul.zornet_ru_gseran { 
	position:absolute; 
	left:0; 
	bottom:0; 
} 

.no-touch .scrollable.hover { 
	overflow-y:hidden; 
} 

.no-touch .scrollable.hover:hover { 
	overflow-y:auto; 
	overflow:visible; 
} 

nav { 
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select:none; 
	-o-user-select:none; 
	user-select:none; 
} 

nav ul,nav li { 
	outline:0; 
	margin:0; 
	padding:0; 
} 
.lunderarumsa li:hover>a,nav.lunderarumsa li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a { 
	
} 
.raforehe_adymikacta { 
	float: left; 
	background: #e2dbdb; 
	width: 99%; 
	height: 98%; 
}
body {
	margin: 0;
}
.header__wr {
	/* margin-left: 80px;
	height: 70px;
	background: #FFFFFF;
	position: relative;
	z-index: 1000;
	width: 100%;
	border-bottom: 1px solid #cac4c4;
	z-index: 10000; */
	height: 100%;
}
.blocks {
	display: table;
	height: 100%;
	/* text-align: center; */
}
.block1 {
	width: 15%;
	float: left !important;
	margin-right: 2%;
}
.block2 {
	float: left;
    text-align: left;
}
.block3 {
	float: left;
    width: 233px;
    padding: 15px;
}
.block4 {
	float: left;
    border-right: 1px solid #cac4c4;
    border-left: 1px solid #cac4c4;
    text-align: center;
    width: 77px;
    padding: 0px 1%;
}
.block5 {
	display: table;
    width: 77px;
    float: left;
    padding: 0px 1.5%;
}
.clinic-name {
	font-family: Formular;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	display: table-cell;
    vertical-align: middle;
	color: #4A4A4A;
}
.clinic-address {
	font-family: Verdana;
	font-size: 14px;
	line-height: 24px;
	/* identical to box height, or 129% */
	display: table-cell;
    vertical-align: middle;
	color: rgba(104, 104, 104, 0.6);
}
.ir {
	cursor: pointer;
	background: #FFFFFF;
	border: 1px solid #FF0000;
	border-radius: 5px;
	height: 15px;
	width: 190px;
	display: table-cell;
    vertical-align: middle;
    margin-top: 7%;
    /* Записаться на прием */
	font-family: Verdana;
	font-size: 12px;
	line-height: 20px;
	/* identical to box height, or 167% */
	text-align: center;
	text-decoration: none;
	color: #4A4A4A;
	font-weight: bold;
}
.dnevnik {
	/* margin-left: 80px;
	padding: 20px;
	margin-top: 2%; */
}
.title {
	padding-top: 38px;
	font-family: Formular;
	font-size: 22px;
	line-height: 24px;

	color: #4A4A4A;
}
.title {
	/* margin-top: 2%;
	margin-left: 80px;
	padding: 20px;
	background: #F3F3F3; */
	/* padding-left: 27px; */
}
.container {
	/* width: 95%;
	margin: 0 auto; */
	padding: 63px 43px;
	padding-top: 101px;
}
.title-main {
	padding-left: 27px;
	padding-top: 38px;
	font-family: Formular;
	font-size: 22px;
	line-height: 24px;
}
.wrap {
	width: 91.4%;
	float: right;
	
}
.wrap-header {
    height: 70px;
    background: #FFFFFF;
}
.patient-info {
	width: 67%;
	float: left;
}
.patient-info > .foto{
	height: 70px;
	width: 70px;
	float:left;
}
.patient-info > .fio > .patient-span {
	font-family: Verdana;
	font-size: 14px;
	line-height: 18px;
	/* or 180% */
	display: flex;
	align-items: center;
	font-weight: bold;
	color: #4A4A4A;
}
.patient-info > .fio > .patient-fio {
	font-family: Formular;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	color: #4A4A4A;
}
.dnevnik > .patient-birthday {
	width: 33%;
	float: right;
}
.error {
	display: block;
    padding-bottom: 20px;
    text-align: center;
    font-family: Formular;
    font-size: 16px;
    line-height: 24px;
    /* display: table-cell; */
    vertical-align: middle;
    color: #4A4A4A;
}
.patient-birthday-span {
	font-family: Verdana;
	font-size: 14px;
	line-height: 18px;
	/* or 180% */
	display: flex;
	align-items: center;
	font-weight: bold;
	color: #4A4A4A;
}
.patient-birthday-date {
	font-family: Formular;
	font-size: 14px;
	line-height: 17px;

	color: #4A4A4A;
}
.dnevnik > hr {
	border: 1px solid #EBEBEB;
	margin-bottom: 2%;
}
.patient-address {
	margin-left: 70px;
	width: 35%;
	float: left;
}
.patient-address-span {
	font-family: Verdana;
	font-size: 14px;
	line-height: 18px;
	/* or 180% */
	display: flex;
	align-items: center;
	font-weight: bold;
	color: #4A4A4A;
}
.patient-address-address {
	font-family: Verdana;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	color: #4A4A4A;
}
.patient-phone {
	width: 20%;
	float: left;
}
.patient-phone-span {
	font-family: Verdana;
	font-size: 14px;
	line-height: 18px;
	/* or 180% */
	display: flex;
	align-items: center;
	font-weight: bold;
	color: #4A4A4A;
}
.patient-phone-phone {
	font-family: Verdana;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	color: #4A4A4A;
}
.patient-date {
	width: 33%;
	float: right;
}
.patient-date-span {
	font-family: Verdana;
	font-size: 14px;
	line-height: 18px;
	/* or 180% */
	display: flex;
	align-items: center;
	font-weight: bold;
	color: #4A4A4A;
}
.patient-date-date {
	font-family: Verdana;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	color: #4A4A4A;
}
.info {
    /* margin-left: 80px;
	padding: 20px; */
	padding: 14px 20px 22px;
    /* height: auto; */
    overflow: auto;
}
.card-number {
	padding: 10px 0;
}
.card-number-text {
	font-family: Formular;
    font-size: 16px;
    line-height: 24px;
    color: #4A4A4A;
}
.card-number-val {
	width: 60%;
	font-family: Formular;
    font-size: 16px;
    line-height: 24px;
	color: #4A4A4A;
	margin-left: 2%;
	font-weight: bold;
}
.table-zapis {
	width: 100%;
	/* border-collapse: collapse; */
	border-spacing: 0px 10px;
}
.table-zapis th {
	font-family: Verdana;
	font-size: 13px;
	line-height: 20px;
	/* identical to box height, or 154% */
	padding-left: 29px;

	color: #B0B8CC;
}
.table-zapis td {
	text-align: left;
	font-family: Verdana;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 133% */
	height: 65px;
	color: #757575;
	border-top: 1px solid rgba(209, 216, 245, 0.6);
	padding-left: 29px;
	padding-right: 29px;
}
/* .table-zapis .row:hover {
	border: 10px solid #FF2222;
} */
.row {
	background: #FFFFFF;
	box-shadow: 0px 2px 4px #FFF2F2;
	border-radius: 2px;
    margin: 25px 0px;
}
.row-wrap {
	padding: 14px 16px 22px;
    /* height: 100%; */
    height: 135px;
}
.row > .title {
	background: #F3F3F3;
	padding: 20px 29px;
	font-family: Formular;
    font-size: 22px;
    line-height: 24px;
    color: #4A4A4A;
}
.box {
	/* width: 85%;
    margin: 7% auto; */
}
.notify {
	display: table-cell;
    vertical-align: middle;
}
.foto > img {
	border-radius: 50%;
    max-width: 100%;
	height: 40px;
	width: 40px;
	margin: 0 auto;
	display: table;
}
ul.dropdown li { position: relative; }
ul.dropdown, ul.dropdown-inside {
	list-style-type: none;
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}
ul.dropdown-inside {
	position: absolute;
	left: -9999px;
}
ul.dropdown li.dropdown-top {
	display: inline;
	float: left;
	margin: 0 1px 0 0;
	position: relative;
	margin: 0 auto;
    /* padding: 10px 15px; */
}
ul.dropdown li.dropdown-top a {
	padding: 3px 10px 4px;
	/* display: block; */
	text-decoration: none;
	font-family: Formular;
    font-size: 16px;
    line-height: 24px;
    display: table-cell;
    vertical-align: middle;
    color: #4A4A4A;
}
/* ul.dropdown a.dropdown-top:hover { padding: 	3px 10px 4px; }
ul.dropdown li.dropdown-top:hover .dropdown-inside {
	display: block;
	left: 0;
} */
.header-wrap {
	/* position: fixed;
    top: 0;
    width: 100%;
	z-index: 10000; */
	height: 70px;
	background: #FFFFFF;
}
ul.dropdown a.dropdown-top2:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	margin-left: 10px;
	/* right: 16px; */
	top: 50%;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: grey transparent;
}
.filter {
	text-align: right;
	margin-bottom: 50px;
	margin-top: 62px;
}
.filter > a {
	border: 1px solid #cac4c4;
	text-decoration: none;
	padding: 10px;
    color: #4A4A4A;
	border-radius: 5px;
	font-family: Verdana;
    font-size: 13px;
	line-height: 20px;
	background: #FFFFFF;
}
.active {
	border-color: red !important;
}
.zapis-table .row td {
	text-align: left;
	padding-left: 29px;
}
.loading {
	opacity: 0.5;
	background-color: rgba(148, 149, 154, 0.27);
	background: url("img/5.gif") no-repeat scroll 0% 0% transparent;
}
.more {
	font-family: Verdana;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #686868;
    border: 1px solid #C1C2C4;
    box-sizing: border-box;
	border-radius: 2px;
	text-decoration: none;
	padding: 10px;
}
.more:hover {
	background: red;
	color: white;
}
.more:hover > tr {
	border: 1px solid red;
}
.table-zapis .row:hover .more {
	background: red;
	color: white;
}
.active-prog {
	height: 200px;
}
.hid {
	display: none;
}
.head div {
	width: 14%;
	float: left;
	font-family: Verdana;
    font-size: 13px;
    line-height: 20px;
    color: #B0B8CC;
    text-align: center;
}
.info2 {
	height: 100%;
	text-align: left;
}
.line-wrapp{
	width: 18px;
    height: 12px;
    margin: 2.1% 2.7%;
    transition: all 600ms ease-in-out;
    float: left;
    display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}
.active.line-wrapp{
	transform: rotate(45deg);
}
.line{
	width: 18px;
	height: 2px;
	background-color: #4a4a4a;
	transition: all 600ms ease-in-out;
}
.line.center{
	margin: 3px 0;
}
.active .line.center{
	width: 44px;
}
.active .line.top{
	width: 44px;
	transform: translateX(-1px) translateY(13px) rotate(-90deg);
}
.active .line.bottom{
	display: none;
	width: 12px;
	transform: translateX(8px) translateY(-1px) rotate(-45deg);
}
.navactive {
	border-right: 2px solid #FF2222;
	
}
.navactive2 {
	border-right: 3px solid #FF2222;
	width: 78px !important;
}
.success {
	display: block;
    text-align: center;
    padding: 15px 0;
    background: #0080003d;
    font-family: Formular;
    font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}
.login {
	display: block;
    /* vertical-align: top; */
    /* width: 100%; */
	text-align: center;
	font-family: Formular;
    font-size: 16px;
    line-height: 24px;
    /* display: table-cell; */
    /* vertical-align: middle; */
    color: #4A4A4A;
	/* padding-left: 5px; */
	margin-top: 10px;
}
.exit {
	display: block;
    /* vertical-align: bottom; */
    width: 100%;
}
.exit a {
	cursor: pointer;
    /* background: #FFFFFF;
    border: 1.5px solid #FF0000;
    border-radius: 5px;
    height: 15px;
    width: 100px;
    display: block;
    margin-top: 7%;
    font-family: Verdana;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #4A4A4A;
    font-weight: bold;
	margin: 0 auto; */
	bottom: 72px;
    position: absolute;
}
.filter a:hover {
	border: 1px solid #FF2222;
    box-sizing: border-box;
    box-shadow: 0px 13px 23px #f7dada;
    /* border-radius: 2px; */
}
.ir:hover {
	/* border: 1px solid #FF2222; */
    box-sizing: border-box;
    box-shadow: 0px 13px 23px #f7dada;
    /* border-radius: 2px; */
}
/* .exit a:hover {
	/* border: 1px solid #FF2222; */
    /* box-sizing: border-box;
    box-shadow: 0px 13px 23px #f7dada; */
    /* border-radius: 2px; */
} */
.no-rigth-border {
	border-right: none;
}
.change-width {
	width: 80% !important;
}
.tp {
	padding-top: 165%;
}
.tp56 {
	padding-top: 56%;
}
.block2-width {
	/* width: 36% !important; */
}
.block1-width {
	/* width: 36% !important; */
}
.ir {
	display: block;
}
.ir-xs {
	display: none;
}
.title-xs {
	display: none;
}
.title-main {
	display: block;
}
.line2 > .line {
	width: 25%; float: left;
}
.line-main {
	width: 25%; float: left;
}
.line2 > .line-main2 {
	width: 20%; float: left;
}
.filter {
	display: block;
}
.filter-xs {
	display: none;
}
.table-zapis {
	display: table
}
.zapis-panel-xs {
	display: none;
}
@media only screen and (max-device-width : 321px) {
	
}

@media only screen and (max-device-width : 360px) {
	
}

@media only screen and (max-device-width : 375px) {
	
}

@media only screen and (max-device-width : 414px) {
	
}

@media only screen and (max-width : 320px) {
	
}
@media only screen and (min-width : 766px) and (max-width : 1023px) {
	.container {
		max-width: 767px;
	}
	.line-wrapp {
		margin: 3.5%;
	}
	.block1 {
		width: 20%;
	}
}

@media only screen and (min-width : 1024px) and (max-width : 1223px) {
	.line-wrapp {
		margin: 2.1%;
	}
	.logo-small {
		padding: 19px 1px;
	}
	.wrap-header {
		height: 50px;
	}
	.lunderarumsa {
		width: 62px;
	}
	.wrap {
		width: 94%;
	}
	.title {
		padding-top: 0px;
		font-size: 16px;
    	line-height: 18px;
	}
	.table-zapis {
		margin-top: 28px !important;
	}
	
	.lunderarumsa .nav-icon {
		width: 61px !important;
		height: 23px;
	}
	.row > .title {
		font-size: 18px;
		padding: 15px 29px;
	}
	.card-number-text {
		font-size: 14px;
	}
	.card-number-val {
		font-size: 12px;
	}
	.block2 {
		margin-right: 0px;
		width: 48%;
	}
	.table-zapis th {
		font-size: 12px;
		line-height: 16px;
		padding-left: 10px;
	}
	.table-zapis td {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 14px;
		font-size: 12px;
		height: 45px;
	}
	.block1 {
		width: 18%;
		margin-right: 0px;
	}
	.clinic-name {
		font-size: 14px;
	}
	.clinic-address {
		font-size: 12px;
	}
	.tp {
		padding-top: 136%;
	}
	.title-main {
		font-size: 18px;
		padding-top: 0px;
	}
	.patient-info > .fio > .patient-span,
	.patient-birthday-span,
	.patient-address-span,
	.patient-phone-span,
	.patient-date-span {
		font-size: 12px;
	}
	.patient-info > .fio > .patient-fio,
	.patient-birthday-date,
	.patient-address-address,
	.patient-phone-phone,
	.patient-date-date {
		font-size: 14px;
	}
	.patient-info {
		height: 45px;
	}
	.row-wrap {
		height: 100px;
	}
	.block3 {
		width: 218px;
	}
	.tp56 {
		padding-top: 106%;
	}
	.block2-width {
		/* width: 13% !important; */
	}
	.block1-width {
		/* width: 10% !important; */
	}
	.filter {
		margin-bottom: 22px;
		margin-top: 30px;
	}
	.filter > a {
		font-size: 12px;
	}
}

@media only screen and (min-width : 1223px) and (max-width : 1359px) {
	.block1 {
		width: 16%;
		margin-right: 0px;
	}
	.logo-small {
		padding: 19px 1px;
	}
	.block2 {
		margin-right: 0px;
		width: 55%;
	}
	.line-wrapp {
		margin: 1.7% 1.9%;
	}
	.lunderarumsa {
		width: 62px;
	}
	.lunderarumsa .nav-icon {
		width: 61px !important;
		height: 23px;
	}
	.wrap {
		width: 94.8%;
	}
	.wrap-header {
		height: 55px;
	}
	.block1-width {
		/* width: 17% !important; */
	}
	.block2-width {
		/* width: 14% !important; */
	}
	.tp56 {
		padding-top: 92%;
	}
	.clinic-name {
		font-size: 14px;
	}
	.clinic-address {
		font-size: 12px;
	}
	.tp {
		padding-top: 136%;
	}
	.title-main {
		font-size: 18px;
		padding-top: 0px;
	}
	.patient-info > .fio > .patient-span,
	.patient-birthday-span,
	.patient-address-span,
	.patient-phone-span,
	.patient-date-span {
		font-size: 12px;
	}
	.patient-info > .fio > .patient-fio,
	.patient-birthday-date,
	.patient-address-address,
	.patient-phone-phone,
	.patient-date-date {
		font-size: 14px;
	}
	.patient-info {
		height: 45px;
	}
	.row-wrap {
		height: 100px;
	}
	.block3 {
		width: 218px;
	}
	.tp56 {
		padding-top: 85%;
	}
	.row > .title {
		font-size: 18px;
		padding: 15px 29px;
	}
	.card-number-text {
		font-size: 14px;
	}
	.card-number-val {
		font-size: 12px;
	}
	.filter {
		margin-bottom: 22px;
		margin-top: 30px;
	}
	.filter > a {
		font-size: 12px;
	}
	.table-zapis th {
		font-size: 12px;
		line-height: 16px;
		padding-left: 10px;
	}
	.table-zapis td {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 14px;
		font-size: 12px;
		height: 45px;
	}
	.title {
		padding-top: 0px;
		font-size: 16px;
    	line-height: 18px;
	}
	.table-zapis {
		margin-top: 28px !important;
	}
}

@media only screen and (min-width : 1360px) and (max-width : 1599px) {
	.logo-small {
		padding: 19px 1px;
	}
	.block1 {
		width: 16%;
		margin-right: 0px;
	}
	.block2 {
		margin-right: 0px;
		width: 60%;
	}
	.line-wrapp {
		margin: 1.4% 1.5%;
	}
	.lunderarumsa {
		width: 62px;
	}
	.lunderarumsa .nav-icon {
		width: 61px !important;
		height: 23px;
	}
	.wrap {
		width: 94.8%;
	}
	.wrap-header {
		height: 55px;
	}
	.block1-width {
		/* width: 17% !important; */
	}
	.block2-width {
		/* width: 14% !important; */
	}
	.tp56 {
		padding-top: 77%;
	}
	.clinic-name {
		font-size: 16px;
	}
	.clinic-address {
		font-size: 14px;
	}
	.tp {
		padding-top: 136%;
	}
	.title-main {
		font-size: 18px;
		padding-top: 0px;
	}
	.patient-info > .fio > .patient-span,
	.patient-birthday-span,
	.patient-address-span,
	.patient-phone-span,
	.patient-date-span {
		font-size: 12px;
	}
	.patient-info > .fio > .patient-fio,
	.patient-birthday-date,
	.patient-address-address,
	.patient-phone-phone,
	.patient-date-date {
		font-size: 14px;
	}
	.patient-info {
		height: 45px;
	}
	.row-wrap {
		height: 100px;
	}
	.block3 {
		width: 218px;
	}
	.row > .title {
		font-size: 18px;
		padding: 15px 29px;
	}
	.card-number-text {
		font-size: 14px;
	}
	.card-number-val {
		font-size: 12px;
	}
	.filter {
		margin-bottom: 22px;
		margin-top: 30px;
	}
	.filter > a {
		font-size: 12px;
	}
	.table-zapis th {
		font-size: 12px;
		line-height: 16px;
		padding-left: 10px;
	}
	.table-zapis td {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 14px;
		font-size: 12px;
		height: 45px;
	}
	.title {
		padding-top: 0px;
		font-size: 16px;
    	line-height: 18px;
	}
	.table-zapis {
		margin-top: 28px !important;
	}
}

@media only screen and (min-width : 1600px) and (max-width : 1919px) {
	.logo-small {
		padding: 19px 1px;
	}
	.block1 {
		width: 13%;
		margin-right: 0px;
	}
	.block2 {
		margin-right: 0px;
		width: 64%;
	}
	.line-wrapp {
		margin: 1.2% 1.4%;
	}
	.lunderarumsa {
		width: 61px;
	}
	.lunderarumsa .nav-icon {
		width: 61px !important;
		height: 23px;
	}
	.wrap {
		width: 94.8%;
	}
	.wrap-header {
		height: 55px;
	}
	.block1-width {
		/* width: 17% !important; */
	}
	.block2-width {
		/* width: 14% !important; */
	}
	.tp56 {
		padding-top: 61%;
	}
	.clinic-name {
		font-size: 16px;
	}
	.clinic-address {
		font-size: 14px;
	}
	.tp {
		padding-top: 136%;
	}
	.title-main {
		font-size: 18px;
		padding-top: 0px;
	}
	.patient-info > .fio > .patient-span,
	.patient-birthday-span,
	.patient-address-span,
	.patient-phone-span,
	.patient-date-span {
		font-size: 12px;
	}
	.patient-info > .fio > .patient-fio,
	.patient-birthday-date,
	.patient-address-address,
	.patient-phone-phone,
	.patient-date-date {
		font-size: 14px;
	}
	.patient-info {
		height: 45px;
	}
	.row-wrap {
		height: 100px;
	}
	.block3 {
		width: 218px;
	}
	.row > .title {
		font-size: 18px;
		padding: 15px 29px;
	}
	.card-number-text {
		font-size: 14px;
	}
	.card-number-val {
		font-size: 12px;
	}
	.filter {
		margin-bottom: 22px;
		margin-top: 30px;
	}
	.filter > a {
		font-size: 12px;
	}
	.table-zapis th {
		font-size: 12px;
		line-height: 16px;
		padding-left: 10px;
	}
	.table-zapis td {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 14px;
		font-size: 12px;
		height: 45px;
	}
	.title {
		padding-top: 0px;
		font-size: 16px;
    	line-height: 18px;
	}
	.table-zapis {
		margin-top: 28px !important;
	}
}

@media only screen and (min-width : 1920px) {
	body {
		/* min-width: 1920px; */
	}
	.logo-small {
		padding: 19px 1px;
	}
	.lunderarumsa {
		width: 91px;
	}
	.wrap {
		width: 95.3%;
	}
	.line-wrapp {
		margin: 1.7% 1.9%;
	}
	.block1 {
		width: 12%;
		margin-right: 0px;
	}
	.block2 {
		width: 68%;
		margin-right: 0px;
	}
	.table-zapis td {
		font-size: 18px;
	}
	.clinic-name {
		font-size: 18px;
	}
	.tp56 {
		padding-top: 77%;
	}
	.block1-width {
		/* width: 12% !important; */
	}
}