@font-face {
	font-family: Verdana; /* Гарнитура шрифта */
	src: url(fonts/Verdana.eot); /* Для IE5-8 */
	src: local(Verdana), url(fonts/Verdana.ttf); /* Для остальных браузеров */
}

@font-face {
	font-family: Formular; /* Гарнитура шрифта */
	src: url(fonts/Formular.eot); /* Для IE5-8 */
	src: local(Formular), url(fonts/Formular.ttf); /* Для остальных браузеров */
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	margin: 0px;
	padding: 0px;
	position: relative;
}

body {
    --main: red;
    --shadow: rgba(255, 0, 0, 0.05);
}


.left {
    position: absolute;
    left: 0%;
    right: 50%;
    top: 2.17%;
    bottom: -2.5%;
}

.logo {
	margin-left: 5%;
	margin-top: 5%;
}

.form {
	margin: 15% 25% 0 25%;
		width: 50%;
}

.group1 {
	margin-top: 7%;
}

.group1 > .text {
	height: 17px;
	left: 9.93%;
	right: 86.6%;
	top: calc(50% - 17px/2 - 160.5px);

	font-family: Verdana;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	color: #686868;

}

.group1 > input {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 0px 0px 2px 2px;
    height: 35px;
    padding: 10px;
    width: 100%;
    margin-top: 7px;
}

.group2 {
	margin-top: 7%;
}

.group2 > .text {
	height: 17px;
	left: 9.93%;
	right: 86.6%;
	top: calc(50% - 17px/2 - 160.5px);

	font-family: Verdana;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

    width: 100%;
    display: block;
    text-align: left;
	color: #686868;

}

.group2 > input {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 0px 0px 2px 2px;
    height: 35px;
    padding: 10px;
    width: 100%;
    margin-top: 7px;
}

.group2 > input.half {
    width: 49%;
}

.group2 > .code-btn {
    display: inline-block;
    text-align: center;
    font-family: Verdana;
    border: var(--main) 1px solid;
    font-size: 14px;
    padding: 2.4% 0;

    border-radius: 3px;
    width: 100%;
    color: #c3c3c3;
    cursor: pointer;
}

.group2 > .code-btn.active {
    color: black;
}

.remember {
	margin-top: 7%;
	width: 50%;
	float: left;
}

.remember > input {
	border: 1px solid #4A4A4A;
    border-radius: 2px;
    height: 15px;
    width: 15px;
}

.remember > label {
	font-family: Verdana;
	font-size: 13px;
	line-height: 16px;
	/* identical to box height */
    vertical-align: super;
	color: #686868;
}

.forgot {
	margin-top: 7%;
	width: 50%;
	float: right;
	text-align: right;
}

.forgot > a {
	font-family: Verdana;
	font-size: 13px;
	line-height: 16px;
	/* identical to box height */
	text-align: right;
	text-decoration: none;
	color: #4A4A4A;
    height: 40px;
    vertical-align: sub;
}

.text {
	font-family: Formular;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #575757;
}

button[type="submit"] {
	margin-top: 7%;
	background: var(--main);
	box-shadow: 0px 12px 35px var(--shadow);
	border-radius: 0px 0px 2px 2px;
	width: 100%;
	height: 50px;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 14px;
	line-height: 17px;
}

hr {
	margin-top: 10%;
	border: 1px solid #D4D4D4;
}

.reg {
	margin-top: 10%;
}

.text-reg, .link-reg {
	padding-top: 10%;
	font-family: Verdana;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */
	text-decoration: none;
	color: #686868;
}

.right {
	position: absolute;
	right: 0%;
	top: 2.17%;
	bottom: -2.5%;
    max-width: 50%;
}

.right > img {
	height: 100vh;
}
.error {
	margin-top: 15px;
	text-align: center;
	display: none;
}
.error > span {
	font-family: Verdana;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	color: #686868;
}
.logo-xs {
	display: none;
}
.logo {
	display: block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* .right {
		display: none;
	}
	.left {
		width: 100%;
	} */
}

@media only screen and (max-device-width : 321px) {
	.right {
		display: none;
	}
	.left {
		width: 100%;
	}
	.logo-xs {
		display: block;
	}
	.logo {
		display: none;
	}
	.container form {
		margin: 30% auto;
	}
	.container form span {
		font-size: 58px;
		line-height: 1.5;
	}
	.group1 span,
	.group2 span {
		font-size: 2.5em !important;
	}
	.group1 > input,
	.group2 > input {
		line-height: 50px;
		height: 74px;
        font-size: 32px;
	}
	.remember {
		width: 62%;
	}
	.remember label {
		font-size: 2.7em;
	}
	.remember input[type="checkbox"] {
		height: 51px;
    	width: 51px;
	}
	.form {
		width: 70%;
	}
}

@media only screen and (max-device-width : 360px) {
	.right {
		display: none;
	}
	.left {
		width: 100%;
	}
	.logo-xs {
		display: block;
		margin: 5% auto;
    	width: 250px;
	}
	.logo-xs img {
		width: 250px;
	}
	.logo {
		display: none;
	}
	.remember-checkbox-xs {
		width: 51px;
		float: left;
		margin-right: 5%;
	}
	button[type="submit"] {
		height: 100px;
		font-size: 2.5em;
	}
	.container form {
		margin: 20% auto;
	}
	.container form span {
		font-size: 58px;
		line-height: 1.5;
	}
	.group1 span,
	.group2 span {
		font-size: 2.5em !important;
	}
	.group1 > input,
	.group2 > input {
		line-height: 50px;
		height: 74px;
        font-size: 32px;
	}
	.remember {
		width: 50%;
	}
	.remember label {
		font-size: 2.7em;
		line-height: unset;
	}
	.forgot > a {
		font-size: 2.7em;
    	line-height: unset;
	}
	.text-reg {
		font-size: 2.7em;
	}
	.link-reg {
		font-size: 2.7em;
		line-height: unset;
	}
	.remember input[type="checkbox"] {
		height: 51px;
    	width: 51px;
	}
	.form {
		width: 70%;
	}
}

@media only screen and (max-device-width : 375px) {
	.right {
		display: none;
	}
	.left {
		width: 100%;
	}
	.logo-xs {
		display: block;
		margin: 5% auto;
    	width: 250px;
	}
	.logo-xs img {
		width: 250px;
	}
	.logo {
		display: none;
	}
	.remember-checkbox-xs {
		width: 51px;
		float: left;
		margin-right: 5%;
	}
	button[type="submit"] {
		height: 100px;
		font-size: 2.5em;
	}
	.container form {
		margin: 30% auto;
	}
	.container form span {
		font-size: 58px;
		line-height: 1.5;
	}
	.group1 span,
	.group2 span {
		font-size: 2.5em !important;
	}
	.group1 > input,
	.group2 > input {
		line-height: 50px;
		height: 74px;
        font-size: 32px;
        margin-top: 20px;
    }
    .group2 > .code-btn {
        font-size: 32px;
    }
    .error > span{
        font-size: 32px;
    }
	.remember {
		width: 50%;
	}
	.remember label {
		font-size: 2.7em;
		line-height: unset;
	}
	.forgot > a {
		font-size: 2.7em;
    	line-height: unset;
	}
	.text-reg {
		font-size: 2.7em;
	}
	.link-reg {
		font-size: 2.7em;
		line-height: unset;
	}
	.remember input[type="checkbox"] {
		height: 51px;
    	width: 51px;
	}
	.form {
		width: 70%;
	}
}

@media only screen and (max-device-width : 414px) {
	.right {
		display: none;
	}
	.left {
		width: 100%;
	}
	.logo-xs {
		display: block;
		margin: 5% auto;
    	width: 250px;
	}
	.logo-xs img {
		width: 250px;
	}
	.logo {
		display: none;
	}
	.remember-checkbox-xs {
		width: 51px;
		float: left;
		margin-right: 5%;
	}
	button[type="submit"] {
		height: 100px;
		font-size: 2.5em;
	}
	.container form {
		margin: 20% auto;
	}
	.container form span {
		font-size: 58px;
		line-height: 1.5;
	}
	.group1 span,
	.group2 span {
		font-size: 2.5em !important;
	}
	.group1 > input,
	.group2 > input {
		line-height: 50px;
		height: 74px;
		font-size: 32px;
        margin-top: 20px;
	}
    .group2 > .code-btn {
        font-size: 32px;
    }
    .error span{
        font-size: 2em !important;
    }
	.remember {
		width: 50%;
	}
	.remember label {
		font-size: 2.7em;
		line-height: unset;
	}
	.forgot > a {
		font-size: 2.7em;
    	line-height: unset;
	}
	.text-reg {
		font-size: 2.7em;
	}
	.link-reg {
		font-size: 2.7em;
		line-height: unset;
	}
	.remember input[type="checkbox"] {
		height: 51px;
    	width: 51px;
	}
	.form {
		width: 70%;
	}
}

@media only screen and (max-width : 930px) {
	.right {
		display: none;
	}
	.left {
		width: 100%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .right {
        display: none;
    }
    .left {
        width: 100%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

