<template>

    <svg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 409.4 500'
         xml:space='preserve'><path d='M406.7 112.2L295.2 2.4C293.7.9 291.6 0 289.4 0H83.7C52.6 0 27.4 26.6 27.4 59.4v219.2H0v148.6h27.4v13.4c0 32.7 25.3 59.4 56.3 59.4h269.4c31.1 0 56.3-26.6 56.3-59.4V118.7c0-2.4-.9-4.8-2.7-6.5zM286.6 18.4l97 95.6h-52.8c-24.4 0-44.2-19.5-44.2-43.4V18.4zm105.8 422.2c0 22.9-17.6 41.5-39.3 41.5H83.7c-21.7 0-39.3-18.6-39.3-41.5v-13.4h187c36.5 0 66-33.3 66-74.3s-29.6-74.3-66-74.3h-187V59.4c0-22.9 17.6-41.5 39.3-41.5h185.9v52.7c0 33.8 27.4 61.3 61.2 61.3h61.6v308.7zM52.6 390.4v-75h28.7c8.3 0 14.8 2.1 19.4 6.4s7 9.9 7 16.9-2.3 12.7-7 16.9c-4.7 4.2-11.2 6.4-19.4 6.4H65.1v28.4H52.6zm70.3 0v-75h24.8c9.5 0 17.2 3 23.2 8.9s8.9 13.6 8.9 22.9v11.4c0 9.4-3 17-8.9 22.9-6 5.9-13.7 8.9-23.2 8.9h-24.8zm116.6-42v10h-30.2v32h-12.6v-75h48v10h-35.5v22.9h30.3v.1z' class='st0'/>
        <path
            d='M91.8 348.2c2.3-2.5 3.5-5.6 3.5-9.4s-1.2-7-3.5-9.5-5.8-3.8-10.5-3.8H65.1V352h16.2c4.7-.1 8.1-1.3 10.5-3.8zM147.7 325.5h-12.3v55h12.3c6 0 10.8-2 14.3-6.1s5.3-9.3 5.3-15.7v-11.5c0-6.3-1.8-11.5-5.3-15.6s-8.3-6.1-14.3-6.1z'
            class='st0'/>
    </svg>

</template>

