<template>
    <div v-if="visible" class="blackout">
        <div id="leave-request-modal" class="archimed-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button v-if="close" v-on:click="close()" type="button" class="close" data-dismiss="modal" aria-label="Close"/>

                        <div>
                            <h3 class="modal-title" style="margin-bottom: 10px">{{title}}</h3>
                            <p v-if="message" style="">{{message}}</p>
                        </div>




                    </div>
                    <div class="modal-footer" v-if="buttons && buttons.length">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <p class="modal-confirm">
                                    <template v-for="btn in buttons">
                                        <a href="#" v-on:click="btn.handler" class="btn" :class="btn.class">
                                            <strong>{{btn.title}}</strong>
                                        </a>
                                    </template>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            visible: false,
            title: '',
            message: '',
            close: {'type': Function},
            buttons: Array
        },
    }
</script>
