<template>
    <div v-if="visible" class="blackout">
        <div class="popup preloader">
            <p>Пожалуйста, подождите</p>
            <img src="/img/preloader.gif" alt="Прелоадер">
        </div>
    </div>
</template>
<script>

export default {
    props: {
        visible: false
    },

    methods: {

    },
}
</script>
