<template>
<div class="container">

	<div class="title">Результаты анализов</div>

    <table class="table table-zapis display-lg">
        <tr>
            <th>Наименование</th>
            <th>Дата</th>
            <th>Время сдачи</th>
            <th>Код посещения</th>
            <th>Действия</th>
        </tr>
        <template v-if="analyze.length > 0">
            <tr v-for="item in analyze" style="background: #ffffff;">
                <td>{{item['Name']}}</td>
                <td>{{item['date']}}</td>
                <td>{{item['time']}}</td>
                <td>{{item['code']}}</td>
                <td>
                    <a :href="'/analyze/pdf/'+item['code']" target="_blank" class="block__pdf"> <PdfIcon /> </a>
                    <a href="#" v-on:click="send(item['code'])" class="block__email"> <EmailIcon />  </a>
                </td>
            </tr>
        </template>
    </table>

    <template v-for="item in analyze">
        <AnalyzeBlock :send="send" :item="item" />
    </template>

    <Message :visible="message !== ''" :title="message" :close="()=>{this.message = ''}"/>
    <Preloader :visible="loading" />
</div>
</template>
<script>
import Preloader from "./popups/Preloader";
import AnalyzeBlock from "./blocks/AnalyzeBlock";
import Message from "./popups/Message";
import EmailIcon from "./icons/EmailIcon";
import PdfIcon from "./icons/PdfIcon";

export default {
    components: {PdfIcon, EmailIcon, Message, AnalyzeBlock, Preloader},
    props:{
        bus: {},
        isInfoLoading: false
    },
    data() {
        return {
            message: '',
            analyze: [],
            loading: false,
        }
    },
    created() {
        if (this.isInfoLoading) {
            this.bus.$on('load-next', this.getAnalyze)
        } else {
            this.getAnalyze()
        }
    },
    methods: {
        getAnalyze() {
            this.loading = true
            axios.get('/analyze/getAnalyze')
                .then(response => {
                    this.analyze = response.data
                })
                .finally(() => (
                    this.loading = false
                ))
        },

        send(code) {
            this.loading = true
            this.errorFlag = false;
            this.successFlag = false;
            axios.get('/analyze/email/'+code)
            .then(response => {
                this.message = response.data.message
            })
            .finally(() => (
                this.loading = false
            ))
            .catch(error => {
                this.message = 'Ошибка отправки e-mail'
            });
        }
    },
}
</script>
<style>
    .full-screen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
</style>
