<template>
    <div>
        <Nav v-show="user" ref="nav" :bus="bus" :hospital="hospital" :items-to-show="user" :no-user-found="!user"/>
        <Header v-show="user" :bus="bus" :hospital="hospital"/>

        <template v-if="user">
            <div class="content2" :style="'margin-left: ' + marginLeft">
                <router-view :user="user" :users="users"  :bus="bus" :isInfoLoading="isInfoLoading"> </router-view>
            </div>
        </template>
        <template v-else>
            <div>
                <Message
                    :message="noUserMessage"
                    :visible="true"
                    :title="title"
                    :buttons="messageButtons"
                />

            </div>
        </template>

        <Request :bus="bus" :user="user"/>
        <Preloader :visible="isInfoLoading"/>
    </div>
</template>

<script>
    import Message from "./popups/Message";
    export default {
        components: {Message},
        props: {
            user: {},
            users: {},
            bus: {},
            isInfoLoading: Boolean,
            hospital: {},

        },
        data(){
            return {
                marginLeft: 0,
                noUserMessage: 'Ваш номер телефона не найден. Если вы сменили номер телефона, то зарегистрируйтесь заново, используя актуальный номер телефона. Или обратитесь в клинику.',
                title: 'Внимание!',
                messageButtons:[
                    {
                        title: 'Оставить заявку',
                        handler: this.showLeaveRequest,
                        // class: 'confirm-btn'
                    },
                    {
                        title: 'Выйти',
                        handler: this.logout,
                        // class: 'danger'
                    },
                ]
            }
        },
        created() {
            this.bus.$on('nav-changed-for-content', this.changeSize)
        },
        methods: {
            changeSize(isOpen, width){
                if (isOpen){
                    this.marginLeft = width+'px';
                } else {
                    this.marginLeft = '0';
                }
            },
            showLeaveRequest(){
                this.bus.$emit('show-leave-request', true)
            },
            logout(){
                this.$refs.nav.logout()
            }
        }
    }
</script>
