<template>
    <div class="container">

        <div class="title">Выписки</div>

        <table class="table table-zapis display-lg">
            <tr>
                <th>Дата</th>
                <th>Наименование</th>
                <th>ФИО врача</th>
                <th>Действия</th>
            </tr>
            <template v-if="epmz.length > 0">
                <tr v-for="item in epmz" style="background: #ffffff;">
                    <td>{{item['date']}}</td>
                    <td>{{item['name']}}</td>
                    <td>{{item['doctor']}}</td>
                    <td>
                        <a :href="'/extracts/pdf/'+item['id']" target="_blank" class="block__pdf"> <PdfIcon /> </a>
                        <a href="#" v-on:click="send(item['id'])" class="block__email"> <EmailIcon/> </a>
                    </td>
                </tr>
            </template>
            <template v-else>
                <tr v-if="!loading && !isInfoLoading" style="background: #ffffff;">
                    <td colspan="8" style="text-align: center;">Выписки не найдены</td>
                </tr>
            </template>
        </table>

        <template v-for="item in epmz">
            <EpmzBlock :send="send" :item="item"/>
        </template>
        <EmptyBlock v-if="!loading && !isInfoLoading" :text="'Выписки не найдены'" :count="epmz.length"/>
        <Message :visible="message !== ''" :title="message" :close="()=>{this.message = ''}"/>
        <Preloader :visible="loading"/>
    </div>
</template>
<script>
    import Preloader from "./popups/Preloader";
    import EpmzBlock from "./blocks/EpmzBlock";
    import Message from "./popups/Message";
    import EmptyBlock from "./blocks/EmptyBlock";
    import EmailIcon from "./icons/EmailIcon";
    import PdfIcon from "./icons/PdfIcon";

    export default {
        components: {PdfIcon, EmailIcon, EmptyBlock, Message, EpmzBlock, Preloader},
        props: {
            bus: {},
            isInfoLoading: false
        },
        data() {
            return {
                message: '',
                epmz: [],
                loading: false
            }
        },
        created() {
            if (this.isInfoLoading) {
                this.bus.$on('load-next', this.getEpmz)
            } else {
                this.getEpmz()
            }
        },
        methods: {
            getEpmz() {
                this.loading = true
                axios.get('/extracts/getEpmz')
                    .then(response => {
                        this.epmz = response.data
                    })
                    .finally(() => (
                        this.loading = false
                    ))
            },
            send(id) {
                this.loading = true
                this.errorFlag = false;
                this.successFlag = false;
                axios.get('/extracts/email/' + id)
                    .then(response => {
                        this.message = response.data.message
                    })
                    .finally(() => (
                        this.loading = false
                    ))
                    .catch(error => {
                        // this.errorFlag = true;
                        this.message = 'Ошибка отправки e-mail'
                    });
            }
        },
    }
</script>
