<template>
    <div class="container">

        <div class="title">Финансы</div>

        <table class="table table-zapis display-lg">
            <tr>
                <th>Дата</th>
                <th>Услуга</th>
                <th>Количество</th>
                <th>Сумма</th>
<!--                <th>Статус</th>-->
                <th>Оплачено</th>
                <th>Долг</th>
            </tr>
            <template v-if="fin.length > 0">
                <tr v-for="item in fin" style="background: #ffffff;">
                    <td>{{ item.date }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quant }}</td>
                    <td>{{ item.costall }}</td>
<!--                    <td>{{ item.checkState }}</td>-->
                    <td>{{ item.paymentCost }}</td>
                    <td>{{ item.restCost }}</td>
                </tr>
            </template>
            <template v-else>
                <tr v-if="!loading && !isInfoLoading" style="background: #ffffff;">
                    <td colspan="8" style="text-align: center;">{{emptyText}}</td>
                </tr>
            </template>
        </table>

        <template v-for="item in fin">
            <FinBlock :item="item"/>
        </template>
        <EmptyBlock v-if="!loading && !isInfoLoading" :text="emptyText" :count="fin.length"/>

        <Preloader :visible="loading"/>
    </div>
</template>
<script>
    import Preloader from "./popups/Preloader";
    import FinBlock from "./blocks/FinBlock";
    import EmptyBlock from "./blocks/EmptyBlock";

    export default {
        components: {EmptyBlock, FinBlock, Preloader},
        data() {
            return {
                fin: [],
                loading: false,
                emptyText: 'Начисленных услуг нет'
            }
        },
        props: {
            bus: {},
            isInfoLoading: false
        },
        created() {
            if (this.isInfoLoading) {
                this.bus.$on('load-next', this.getFin)
            } else {
                this.getFin()
            }
        },
        methods: {
            getFin() {
                this.loading = true
                axios.get('/financial/getFin')
                    .then(response => {
                        this.fin = response.data.services
                        console.log(this.fin);
                    })
                    .finally(() => (
                        this.loading = false
                    ))
            },
        },
    }
</script>
