<template>
    <div class="header" :style="'margin-left: ' + marginLeft">
        <div class="container">
            <div class="header__wr">
                <button class="header__toggle" v-on:click="navChanged" type="button" aria-live="open menu">
                    <img src="/img/menu.svg" alt="close">
                </button>

                <div class="header__info">
                    <div class="header__name">{{ hospital.name }}</div>
                    <div class="header__desc">{{ hospital.address }}</div>
                </div>

                <div class="none__sm">
                    <div class="blocks block1">
                        <span class="clinic-name">{{ hospital.name }}</span>
                    </div>
                    <div class="blocks block2">
                        <span class="clinic-address">{{ hospital.address }}</span>
                    </div>
                </div>

                <IrLinks :links="hospital.irDomains" />

            </div>
        </div>
    </div>
</template>
<script>
    import IrLinks from "./IrLinks";
    export default {
        components: {IrLinks},
        props: {
            hospital: {},
            bus: {},
        },
        data(){
            return {
                marginLeft: 0,
                isLinksOpen: false,
            }
        },
        created() {
            this.bus.$on('nav-changed-for-content', this.changeSize);
            $('body').click(function () {
                this.isLinksOpen = false
            }.bind(this))
        },
        methods: {
            getAddress(){
                return formatAddress(this.hospital)
            },
            navChanged(){
                this.bus.$emit('nav-changed', true)
                // this.$emit('navchanged')
            },
            changeSize(isOpen, width){
                if (isOpen){
                    this.marginLeft = width+'px';
                } else {
                    this.marginLeft = '0';
                }
            },
            openLinks(){
                setTimeout(function () {
                    this.isLinksOpen = true
                }.bind(this),10)
            }
        },
    }
</script>
