<template>
    <div class="container">
        <div class="block">
            <div class="block__head">Основные сведения</div>
            <div class="block__content">
                <div class="block__info">
                    <div class="block__info_ava">
                        <img src="/img/camera_200.png" width="50" height="50" alt="avatar">
                    </div>
                    <div class="block__info_middle">
                        <div class="block__title">Пациент</div>
                        <div v-if="users.length < 2" class="block__text">{{ user.FULLNAME }}</div>
                        <div v-else style="max-width: 500px">
                            <v-select v-model="curUserId" :options="users" label="name"
                                      :reduce="(i) => i.id" @input="userChanged"
                                      :clearable="false" :searchable="false"/>
                        </div>
                    </div>
                </div>
                <div v-if="user['AGE_YEARS']" class="block__item">
                    <div class="block__title">Возраст</div>
                    <div class="block__text">{{ user['AGE_YEARS'] }}</div>
                </div>
                <div v-if="user['ADDRESS_LOCALITY']" class="block__item">
                    <div class="block__title">Адрес</div>
                    <div class="block__text">
                        {{ this.getAddress() }}
                    </div>
                </div>
                <div class="block__item">
                    <div class="block__title">Телефон</div>
                    <div class="block__text">{{ user['PHONE'] }}</div>
                </div>
                <div class="block__item">
                    <div class="block__title">Электронная почта</div>
                    <div class="block__text">{{ user['EMAIL'] }}</div>
                </div>
                <div class="block__item">
                    <div class="block__title">Дата рождения</div>
                    <div class="block__text">{{ user['BIRTHDATE'] }}</div>
                </div>
            </div>
            <div class="block">
                <div class="block__head">Дополнительная информация</div>
                <div class="block__content">
                    <div class="block__item">
                        <div class="block__text">Номер амбулаторной карты:</div>
                        <div class="block__title">{{ user['NUMBER'] }}</div>
                    </div>
                    <div class="block__item" v-if="user['disc']">
                        <div class="block__text">Постоянная скидка</div>
                        <div class="block__title">{{user['disc']}}%</div>
                    </div>
                    <div v-if="user['SHIFTDATE']" class="block__item">
                        <div class="block__text">Последняя запись в клинику:</div>
                        <div class="block__title">{{ user['SHIFTDATE'] }}</div>
                    </div>
                    <template v-if="user['CARDNUMBER']">
                        <div class="block__item" v-if="user['AMOUNTBONUS'] == NULL">
                            <div class="block__text">Номер бонусноной карты</div>
                            <div class="block__title">{{ user['CARDNUMBER'] }} <br>(Начислено бонусов: 0)</div>
                        </div>
                        <div class="block__item" v-else>
                            <div class="block__text">Номер бонусноной карты</div>
                            <div class="block__title">{{ user['CARDNUMBER'] }} <br>(Начислено бонусов:
                                {{user['AMOUNTBONUS']}})
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
<!--        <Preloader :visible="loading"/>-->
    </div>
</template>
<script>
    import Preloader from "./popups/Preloader";

    export default {
        components: {Preloader},
        props: {
            user: {},
            users: {},
            bus: {},
            isInfoLoading: false
        },
        data() {
            return {
                curUserId: {},
            }
        },
        created() {
            if (this.isInfoLoading) {
                this.bus.$on('load-next', this.setCurrentUser)
            } else {
                this.setCurrentUser()
            }
        },
        methods: {
            getAddress() {
                return formatAddress(this.user)
            },
            userChanged(){
                // console.log(this.curUserId
                if (this.curUserId){
                    this.bus.$emit('user-changed', this.curUserId)
                }

            },
            setCurrentUser(){
                setTimeout(function() {
                    this.curUserId = this.users.find(function (i) {
                        return i.id == this.user.ID
                    }.bind(this))
                }.bind(this), 100)
            }
        }
    }
</script>
