<template>
    <div v-if="links && links.length">
        <template v-if="links.length == 1">
            <a :href="links[0].domain" target="_blank" class="ir">Записаться на прием</a>
            <a :href="links[0].domain" target="_blank" class="header__user active">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 618 618">
                    <switch>
                        <g>
                            <path d="M461.1 319.5c-37.7-.1-73.9 15.4-99.7 42.9-37.2-29.7-83.3-45.7-130.9-45.5h-.4c-57.1.1-110.2 22.3-149.5 62.7-39.9 40.8-61.7 96.6-61.6 157.1 0 3.3 1.3 6.5 3.6 8.9 2.3 2.3 5.5 3.7 8.9 3.6l327.6-.6c.7.9 1.5 1.6 2.2 2.5 43 45.5 111.4 56.2 166.2 25.9 54.8-30.3 82.2-93.8 66.6-154.4-15.7-60.7-70.4-103.1-133-103.1zM44.3 524.1c2.6-49 21.6-93.8 54.2-127.1 34.6-35.6 81.4-55.2 131.6-55.2h.4c42-.2 82.7 14 115.5 40.2-27.6 42.7-29.5 97.2-4.7 141.6l-297 .5zm416.8 45c-62 0-112.3-50.3-112.3-112.3s50.3-112.3 112.3-112.3 112.3 50.3 112.3 112.3-50.3 112.3-112.3 112.3zM230.2 287.2c72.8 0 131.9-59.1 131.9-131.9 0-72.8-59.1-131.9-131.9-131.9S98.3 82.4 98.3 155.3c.1 72.8 59.1 131.8 131.9 131.9zm0-238.9c59.1 0 106.9 47.9 106.9 106.9 0 59.1-47.9 106.9-106.9 106.9-59.1 0-106.9-47.9-106.9-106.9.1-59 47.9-106.8 106.9-106.9z" class="st0"/>
                            <path d="M511.6 444.3h-38.1v-38.1c0-6.9-5.6-12.5-12.5-12.5s-12.5 5.6-12.5 12.5v38.1h-38.1c-6.9 0-12.5 5.6-12.5 12.5s5.6 12.5 12.5 12.5h38.1v38.1c0 6.9 5.6 12.5 12.5 12.5s12.5-5.6 12.5-12.5v-38.1h38.1c6.9 0 12.5-5.6 12.5-12.5s-5.6-12.5-12.5-12.5z" class="st0"/>
                        </g>
                    </switch>
                </svg>
            </a>
        </template>
        <template v-else>
            <div>
                <button class="ir btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Записаться на прием
                    <span class="caret"></span>
                </button>
                <a class="header__user active dropdown-toggle"  data-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 618 618">
                        <switch>
                            <g>
                                <path d="M461.1 319.5c-37.7-.1-73.9 15.4-99.7 42.9-37.2-29.7-83.3-45.7-130.9-45.5h-.4c-57.1.1-110.2 22.3-149.5 62.7-39.9 40.8-61.7 96.6-61.6 157.1 0 3.3 1.3 6.5 3.6 8.9 2.3 2.3 5.5 3.7 8.9 3.6l327.6-.6c.7.9 1.5 1.6 2.2 2.5 43 45.5 111.4 56.2 166.2 25.9 54.8-30.3 82.2-93.8 66.6-154.4-15.7-60.7-70.4-103.1-133-103.1zM44.3 524.1c2.6-49 21.6-93.8 54.2-127.1 34.6-35.6 81.4-55.2 131.6-55.2h.4c42-.2 82.7 14 115.5 40.2-27.6 42.7-29.5 97.2-4.7 141.6l-297 .5zm416.8 45c-62 0-112.3-50.3-112.3-112.3s50.3-112.3 112.3-112.3 112.3 50.3 112.3 112.3-50.3 112.3-112.3 112.3zM230.2 287.2c72.8 0 131.9-59.1 131.9-131.9 0-72.8-59.1-131.9-131.9-131.9S98.3 82.4 98.3 155.3c.1 72.8 59.1 131.8 131.9 131.9zm0-238.9c59.1 0 106.9 47.9 106.9 106.9 0 59.1-47.9 106.9-106.9 106.9-59.1 0-106.9-47.9-106.9-106.9.1-59 47.9-106.8 106.9-106.9z" class="st0"/>
                                <path d="M511.6 444.3h-38.1v-38.1c0-6.9-5.6-12.5-12.5-12.5s-12.5 5.6-12.5 12.5v38.1h-38.1c-6.9 0-12.5 5.6-12.5 12.5s5.6 12.5 12.5 12.5h38.1v38.1c0 6.9 5.6 12.5 12.5 12.5s12.5-5.6 12.5-12.5v-38.1h38.1c6.9 0 12.5-5.6 12.5-12.5s-5.6-12.5-12.5-12.5z" class="st0"/>
                            </g>
                        </switch>
                    </svg>
                </a>
                <ul class="links dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li v-for="item in links">
                        <a :href="item.domain" target="_blank">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        props:{
            links: {}
        }
    }
</script>

<style scoped>
    .links{
        cursor: pointer;
        background: #FFFFFF;
        border: 1px solid var(--main);
        border-radius: 5px;
        width: 210px;
        vertical-align: middle;
        /* Записаться на прием */
        font-family: Verdana;
        font-size: 12px;
        line-height: 30px;
        /* identical to box height, or 167% */
        text-align: center;
        text-decoration: none;
        color: #4A4A4A;
    }
</style>
