<template>
    <div>
        <div class="nav" v-bind:class="{active: isOpen}">
<!--             v-on:mouseover="navChanged(true)"-->
<!--             v-on:mouseout="navChanged(false)">-->
            <div class="container">
                <div class="nav__top">
                    <button class="nav__close" v-on:click="navChanged" type="button" aria-live="open menu">
                        <img v-bind:src=" isOpen ? '/img/close.svg':'/img/menu.svg'" alt="close">
                    </button>
                    <div class="nav__info">
                        <div class="nav__title">{{ hospital.name }}</div>
                        <div class="nav__desc">{{ hospital.address }}</div>
                    </div>
                </div>
                <nav>
                    <ul class="nav__list">
                        <li class="nav__item" v-on:click="navChanged(false)">
                            <router-link to="/home" class="nav__link">
                            <span class="nav__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 295.6 295.6"><switch><g><path d="M257.3 52.7V28.9h-95.7l.2-1.8c.9-6.4-.8-12.7-4.8-17.8-3.9-5.1-9.6-8.3-16-9.1-13-1.6-25 7.6-26.7 20.6l-1.1 8.1H14.5v242.9h23.8v23.8h242.9V52.7h-23.9zM123.8 22.1c1-7.8 8.3-13.4 16.1-12.4 3.8.5 7.3 2.4 9.6 5.5 2.4 3.1 3.4 6.9 2.9 10.7l-.4 3h-14.4l.6-4.1c.4-2.6-1.4-5-4-5.4-2.6-.4-5 1.4-5.4 4l-.8 5.5h-5.1l.9-6.8zM24 262.2V38.4h88l-2.1 15.7c-.9 6.4.8 12.7 4.8 17.8 3.9 5.1 9.6 8.3 16 9.1 1 .1 2 .2 3 .2 11.8 0 22.1-8.8 23.7-20.8.3-2.6-1.5-5-4.1-5.4-2.6-.3-5 1.5-5.4 4.1-1 7.8-8.3 13.4-16.1 12.4-3.8-.5-7.3-2.4-9.6-5.5-2.4-3.1-3.4-6.9-2.9-10.7l2.3-17h126.2v223.8l-223.8.1zm247.6 23.9H47.8v-14.3h209.5V62.2h14.3v223.9z" class="st0"/><path d="M38.3 109.9h195.2v9.5H38.3zM38.3 133.7h195.2v9.5H38.3zM38.3 157.5h195.2v9.5H38.3zM224 181.3h9.5v9.5H224zM200.2 181.3h9.5v9.5h-9.5zM176.4 181.3h9.5v9.5h-9.5z" class="st0"/></g></switch></svg>
                            </span>
                                Основные сведения
                            </router-link>
                        </li>
                        <li class="nav__item"  v-on:click="navChanged(false)">
                            <router-link to="/zapis" class="nav__link" href="#">
                            <span class="nav__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><switch><g><path fill="currentColor" stroke="currentColor" stroke-miterlimit="10" d="M227.9 35.8h-26v-15c0-2.7-2-5-4.6-5-2.6 0-4.6 2.2-4.6 5v15H65.6v-15c0-2.7-2-5-4.6-5-2.5 0-4.6 2.2-4.6 5v15h-26c-8.1 0-14.6 7-14.6 15.7v173c0 8.7 6.5 15.7 14.6 15.7h197.5c8.1 0 14.6-7 14.6-15.7v-173c0-8.7-6.6-15.7-14.6-15.7zm5.4 188.7c0 3.2-2.4 5.8-5.4 5.8H30.4c-3 0-5.4-2.6-5.4-5.8V81.4h208.2l.1 143.1zm0-153H25v-20c0-3.2 2.4-5.8 5.4-5.8h197.5c3 0 5.4 2.6 5.4 5.8v20z"></path><path d="M191.5 185.9h21.9v21.9h-21.9zM191.5 103.9h21.9v21.9h-21.9zM191.5 144.9h21.9v21.9h-21.9zM141.9 185.9h21.9v21.9h-21.9zM141.9 103.9h21.9v21.9h-21.9zM141.9 144.9h21.9v21.9h-21.9zM94 185.9h21.9v21.9H94zM94 103.9h21.9v21.9H94zM94 144.9h21.9v21.9H94zM44.3 185.9h21.9v21.9H44.3zM44.3 103.9h21.9v21.9H44.3zM44.3 144.9h21.9v21.9H44.3z" fill="currentColor"></path></g></switch></svg>
                            </span>
                                Запись на прием
                            </router-link>
                        </li>
                        <li v-if="itemsToShow.lrExist == 1" class="nav__item" v-on:click="navChanged(false)">
                            <router-link to="/analyze" class="nav__link" href="#">
                            <span class="nav__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496"><switch><g><path d="M494 399.4c-1.4-6-3.7-12.3-7.1-18.6L424 262V144c17.6 0 32-14.4 32-32s-14.4-32-32-32H312c-17.6 0-32 14.4-32 32s14.4 32 32 32v118l-62.9 118.8c-3.3 6.3-5.7 12.6-7.1 18.6-5.4 23.9.1 48.4 15.1 67.1 15 18.8 37.4 29.5 61.3 29.5h99c24 0 46.3-10.8 61.3-29.5 15.1-18.8 20.6-43.2 15.3-67.1zM324.8 272H376v-16h-48v-16h32v-16h-32v-16h48v-16h-48v-16h32v-16h-32v-32h-16c-8.8 0-16-7.2-16-16s7.2-16 16-16h112c8.8 0 16 7.2 16 16s-7.2 16-16 16h-64v16h48v122l32.9 62.1h-.9c-14.4 0-22.2 5.2-28.5 9.3-5.6 3.7-10 6.7-19.6 6.7s-14-2.9-19.6-6.7c-6.2-4.2-14-9.3-28.4-9.3s-22.2 5.2-28.4 9.3c-5.6 3.7-10 6.7-19.5 6.7-3.5 0-6.3-.4-8.7-1.1l37.5-71zm141.5 184.5c-11.9 14.9-29.7 23.5-48.8 23.5h-99c-19.1 0-36.9-8.6-48.8-23.5s-16.3-34.5-12-53.6c1-4.6 2.9-9.5 5.6-14.6l16.4-31.1c4.2 1.6 9.4 2.8 16.3 2.8 14.4 0 22.2-5.2 28.4-9.3 5.6-3.7 10-6.7 19.5-6.7 9.6 0 14 2.9 19.6 6.7 6.2 4.2 14 9.3 28.4 9.3s22.2-5.2 28.5-9.3c5.6-3.7 10-6.7 19.6-6.7 4.6 0 7.8.7 10.1 1.5l22.6 42.8c2.7 5.1 4.6 10 5.6 14.6 4.4 19.1 0 38.7-12 53.6z" class="st0"></path><path d="M432 376c-13.2 0-24 10.8-24 24s10.8 24 24 24 24-10.8 24-24-10.8-24-24-24zm0 32c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z" fill="currentColor"></path><path d="M400 64c13.2 0 24-10.8 24-24s-10.8-24-24-24-24 10.8-24 24 10.8 24 24 24zm0-32c4.4 0 8 3.6 8 8s-3.6 8-8 8-8-3.6-8-8 3.6-8 8-8zM320 48c13.2 0 24-10.8 24-24S333.2 0 320 0s-24 10.8-24 24 10.8 24 24 24zm0-32c4.4 0 8 3.6 8 8s-3.6 8-8 8-8-3.6-8-8 3.6-8 8-8z" fill="currentColor"></path><path d="M376 416c-13.2 0-24 10.8-24 24s10.8 24 24 24 24-10.8 24-24-10.8-24-24-24zm0 32c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8zM296 408c-13.2 0-24 10.8-24 24s10.8 24 24 24 24-10.8 24-24-10.8-24-24-24zm0 32c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8zM104 416c-13.2 0-24 10.8-24 24s10.8 24 24 24 24-10.8 24-24-10.8-24-24-24zm0 32c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8zM368 384c0-13.2-10.8-24-24-24s-24 10.8-24 24 10.8 24 24 24 24-10.8 24-24zm-24 8c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z" fill="currentColor"></path><path d="M192 80H32C14.4 80 0 94.4 0 112s14.4 32 32 32v272c0 44.1 35.9 80 80 80s80-35.9 80-80V144c17.6 0 32-14.4 32-32s-14.4-32-32-32zm-80 400c-35.3 0-64-28.7-64-64V216.9c4.6 1.1 7.8 3.3 11.6 5.7 6.2 4.2 14 9.3 28.4 9.3s22.2-5.2 28.4-9.3c5.6-3.7 10-6.7 19.6-6.7s14 2.9 19.6 6.7c5 3.3 11 7.2 20.4 8.7V416c0 35.3-28.7 64-64 64zm80-352h-16v87.1c-4.6-1.1-7.8-3.3-11.6-5.7-6.3-4.2-14-9.3-28.4-9.3s-22.2 5.2-28.4 9.3c-5.6 3.7-10 6.7-19.6 6.7s-14-2.9-19.6-6.7c-5-3.3-11-7.2-20.4-8.7V144h96v-16H32c-8.8 0-16-7.2-16-16s7.2-16 16-16h160c8.8 0 16 7.2 16 16s-7.2 16-16 16z" class="st0"></path><path d="M152 384c0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8 8 3.6 8 8zM80 360c0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8 8 3.6 8 8zM128 344c0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8 8 3.6 8 8zM112 384c0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8 8 3.6 8 8zM160 304c0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8 8 3.6 8 8zM96 328c0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8 8 3.6 8 8z" fill="currentColor"></path></g></switch></svg>
                            </span>
                                Анализы
                            </router-link>
                        </li>
                        <li v-if="itemsToShow.epmzExist == 1" class="nav__item" v-on:click="navChanged(false)">
                            <router-link to="/extracts" class="nav__link" href="#" >
                            <span class="nav__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_5" viewBox="0 0 512 512"><switch><g><path d="M464 152h-72V8H92.7L8 92.7V440h224v24c0 22.1 17.9 40 40 40h192c22.1 0 40-17.9 40-40V192c0-22.1-17.9-40-40-40zm24 40v72H376v-96h88c13.2 0 24 10.8 24 24zm-240 88h112v96H248v-96zm0-16v-72c0-13.2 10.8-24 24-24h88v96H248zm128 16h112v96H376v-96zM35.3 88L88 35.3V88H35.3zM56 104h48V56h240v64H56v-16zM24 424V104h16v32h320V40H104V24h272v128H272c-22.1 0-40 17.9-40 40v232H24zm224 40v-72h112v96h-88c-13.2 0-24-10.8-24-24zm216 24h-88v-96h112v72c0 13.2-10.8 24-24 24z" class="st0"/><path d="M432 408c-22.1 0-40 14.4-40 32s17.9 32 40 32 40-14.4 40-32-17.9-32-40-32zm0 48c-13 0-24-7.3-24-16s11-16 24-16 24 7.3 24 16-11 16-24 16zM304 408c-22.1 0-40 14.4-40 32s17.9 32 40 32 40-14.4 40-32-17.9-32-40-32zm0 48c-13 0-24-7.3-24-16s11-16 24-16 24 7.3 24 16-11 16-24 16zM432 296c-22.1 0-40 14.4-40 32s17.9 32 40 32 40-14.4 40-32-17.9-32-40-32zm0 48c-13 0-24-7.3-24-16s11-16 24-16 24 7.3 24 16-11 16-24 16zM304 296c-22.1 0-40 14.4-40 32s17.9 32 40 32 40-14.4 40-32-17.9-32-40-32zm0 48c-13 0-24-7.3-24-16s11-16 24-16 24 7.3 24 16-11 16-24 16zM432 248c22.1 0 40-14.4 40-32s-17.9-32-40-32-40 14.4-40 32 17.9 32 40 32zm0-48c13 0 24 7.3 24 16s-11 16-24 16-24-7.3-24-16 11-16 24-16zM304 184c-22.1 0-40 14.4-40 32s17.9 32 40 32 40-14.4 40-32-17.9-32-40-32zm0 48c-13 0-24-7.3-24-16s11-16 24-16 24 7.3 24 16-11 16-24 16zM40 152h176v16H40v-16zM40 184h16v16H40v-16zM72 184h144v16H72v-16zM40 216h176v16H40v-16zM200 248h16v16h-16v-16zM40 248h144v16H40v-16zM125.6 386.3C121.3 382 115.3 376 104 376s-17.3 6-21.7 10.3c-3.9 3.9-5.9 5.7-10.4 5.7s-6.4-1.7-10.3-5.7C57.3 382 51.3 376 40 376v16c4.5 0 6.4 1.7 10.3 5.7C54.7 402 60.7 408 72 408c11.3 0 17.3-6 21.7-10.3 3.9-3.9 5.8-5.7 10.4-5.7 4.5 0 6.4 1.7 10.4 5.7 4.4 4.4 10.3 10.3 21.7 10.3h32v-16h-32c-4.7 0-6.6-1.7-10.6-5.7zM40 344h80v16H40v-16zM40 312h16v16H40v-16zM72 312h16v16H72v-16zM104 312h16v16h-16v-16z" class="st0"/></g></switch></svg>
                            </span>
                                Выписки
                            </router-link>
                        </li>
                        <li class="nav__item" v-on:click="navChanged(false)">
                            <router-link to="/program" class="nav__link" href="#" >
                            <span class="nav__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_5" viewBox="0 0 512 512"><switch><g><path d="M336 120h16v16h-16v-16zM160 120h16v16h-16v-16zM64 264v96h48v-96H64zm32 80H80v-64h16v64zM64 472h48v-96H64v96zm16-80h16v64H80v-64zM448 264h-48v96h48v-96zm-16 80h-16v-64h16v64zM448 472v-96h-48v96h48zm-32-80h16v64h-16v-64zM240 360v-64h-80v64h80zm-64-48h48v32h-48v-32zM272 360h80v-64h-80v64zm16-48h48v32h-48v-32z" class="st0"/><path d="M480 152h-96v-48h8c13.2 0 24-10.8 24-24V32c0-13.2-10.8-24-24-24H120c-13.2 0-24 10.8-24 24v48c0 13.2 10.8 24 24 24h8v48H32c-13.2 0-24 10.8-24 24v48c0 13.2 10.8 24 24 24v256h448V248c13.2 0 24-10.8 24-24v-48c0-13.2-10.8-24-24-24zm0 16c4.4 0 8 3.6 8 8v8H384v-16h96zM120 24h272c4.4 0 8 3.6 8 8v8H112v-8c0-4.4 3.6-8 8-8zm-8 56V56h288v24c0 4.4-3.6 8-8 8H120c-4.4 0-8-3.6-8-8zm256 24v384h-48v-80h16v-16H176v16h16v80h-48V104h224zm-64 304v80h-96v-80h96zM32 168h96v16H24v-8c0-4.4 3.6-8 8-8zm-8 56v-24h104v32H32c-4.4 0-8-3.6-8-8zm24 24h80v240H48V248zm416 240h-80V248h80v240zm16-256h-96v-32h104v24c0 4.4-3.6 8-8 8z" class="st0"/><path d="M232 224v24h48v-24h24v-48h-24v-24h-48v24h-24v48h24zm-8-32h24v-24h16v24h24v16h-24v24h-16v-24h-24v-16z" class="st0"/><path d="M256 280c44.1 0 80-35.9 80-80s-35.9-80-80-80-80 35.9-80 80 35.9 80 80 80zm0-144c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64z" class="st0"/></g></switch></svg>
                            </span>
                                Программы лечения
                            </router-link>
                        </li>
                        <li class="nav__item" v-on:click="navChanged(false)">
                            <router-link to="/financial" class="nav__link" href="#" >
                            <span class="nav__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Слой_1" viewBox="0 0 487 487"><switch><g><path d="M249.9 265.8c-.9-.2-1.8-.2-2.7-.1-9.1-1.1-16-8.8-16.1-18 0-4.4-3.6-8-8-8s-8 3.6-8 8c0 15.4 10.3 28.8 25.1 32.9v8c0 4.4 3.6 8 8 8s8-3.6 8-8v-7.5c17.1-3.6 28.7-19.5 26.9-36.9-1.8-17.4-16.4-30.6-33.9-30.6-10 0-18.1-8.1-18.1-18.1s8.1-18.1 18.1-18.1 18.1 8.1 18.1 18.1c0 4.4 3.6 8 8 8s8-3.6 8-8c0-16.1-11.3-30.1-27.1-33.4v-7.3c0-4.4-3.6-8-8-8s-8 3.6-8 8v7.8c-16.5 4.5-27.1 20.5-24.8 37.4s16.7 29.6 33.8 29.6c9.9 0 17.9 7.9 18.1 17.8.2 9.8-7.6 18-17.4 18.4z" class="st0"/><path d="M133.4 222.2c0 64 51.9 115.8 115.8 115.8S365 286.1 365 222.2s-51.9-115.8-115.8-115.8-115.8 51.8-115.8 115.8zm115.8-99.9c55.2 0 99.9 44.7 99.9 99.9S304.3 322 249.2 322s-99.9-44.7-99.9-99.9c.1-55.1 44.8-99.7 99.9-99.8z" class="st0"/><path d="M404.4 357.7l-62.6 29.6c-8.6-16.1-25.2-26.3-43.5-26.8l-57.8-1.6c-9.1-.3-18.1-2.6-26.3-6.8l-5.9-3c-30.1-15.7-66-15.6-96 .1l.4-13.3c.1-4.4-3.4-8.1-7.8-8.2L41.6 326c-4.4-.1-8.1 3.4-8.2 7.8l-3.8 139c-.1 4.4 3.4 8.1 7.8 8.2l63.3 1.7h.2c4.3 0 7.9-3.4 8-7.8l.2-6.7 16.5-8.8c6.5-3.5 14-4.3 21.1-2.3l98.3 27.6c.2.1.3.1.5.1 7.1 1.5 14.3 2.2 21.6 2.2 15.4 0 30.6-3.3 44.5-9.7.3-.2.7-.3 1-.5l142.5-92.2c3.5-2.3 4.7-7 2.6-10.6-10.6-18.8-34-26-53.3-16.3zM45.9 465.1l3.4-123 47.4 1.3-3.4 123-47.4-1.3zm258.5-2.1c-17.4 7.8-36.7 10-55.4 6.2l-98-27.5c-11-3.1-22.8-1.8-32.9 3.6l-8.4 4.5L112 368c26.6-17.7 60.8-19.5 89.2-4.8l5.9 3c10.3 5.3 21.6 8.2 33.2 8.6l57.8 1.6c16.2.5 30 12 33.3 27.9l-86-2.4c-4.4-.1-8.1 3.4-8.2 7.8-.1 4.4 3.4 8.1 7.8 8.2l95 2.6h.2c4.3 0 7.9-3.4 8-7.8.1-3.5-.2-6.9-.8-10.4l64.2-30.3c.1 0 .1-.1.2-.1 9.1-4.6 20.1-3.1 27.6 3.9l-135 87.2zM257.2 83.9V8c0-4.4-3.6-8-8-8s-8 3.6-8 8v75.9c0 4.4 3.6 8 8 8s8-3.6 8-8zM317.1 83.9v-36c0-4.4-3.6-8-8-8s-8 3.6-8 8v35.9c0 4.4 3.6 8 8 8 4.4.1 8-3.5 8-7.9zM197.3 83.9v-36c0-4.4-3.6-8-8-8s-8 3.6-8 8v35.9c0 4.4 3.6 8 8 8s8-3.5 8-7.9z" class="st0"/></g></switch></svg>
                            </span>
                                Финансы
                            </router-link>
                        </li>

                    </ul>
                    <ul>
                        <li class="nav__item" v-on:click="showLeaveRequest">
                            <a  class="nav__link">
                                <span class="nav__icon">
                                     <svg width="35px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.735 29.735" style="enable-background:new 0 0 29.735 29.735;" xml:space="preserve"><g><g><path d="M23.895,29.733c-1.237,0-2.731-0.31-4.373-0.929c-3.603-1.359-7.521-4.043-11.035-7.557 C4.973,17.733,2.289,13.814,0.93,10.21C-0.307,6.935-0.31,4.247,0.92,3.017c0.178-0.178,0.359-0.368,0.545-0.563 c1.123-1.18,2.422-2.521,4.073-2.448c1.16,0.048,2.283,0.768,3.435,2.198c3.396,4.225,1.865,5.731,0.093,7.477L8.752,9.991 c-0.29,0.29-0.839,1.632,4.26,6.73c1.666,1.665,3.084,2.883,4.217,3.62c0.715,0.464,1.991,1.164,2.514,0.641l0.315-0.318 c1.744-1.77,3.25-3.296,7.474,0.099c1.431,1.15,2.15,2.273,2.198,3.434c0.069,1.682-1.271,2.954-2.453,4.076 c-0.194,0.185-0.384,0.364-0.56,0.54C26.103,29.426,25.127,29.733,23.895,29.733z M5.419,1.002c-1.194,0-2.274,1.136-3.229,2.14 C1.997,3.344,1.81,3.541,1.627,3.724C0.711,4.639,0.805,7.047,1.865,9.858c1.31,3.473,3.913,7.267,7.329,10.683 s7.209,6.018,10.681,7.328c2.811,1.061,5.219,1.153,6.135,0.236c0.183-0.182,0.378-0.368,0.578-0.558 c1.028-0.977,2.193-2.083,2.143-3.311c-0.035-0.843-0.649-1.75-1.826-2.695c-3.52-2.828-4.503-1.828-6.135-0.176l-0.32,0.323 c-0.777,0.781-2.044,0.61-3.766-0.51c-1.19-0.774-2.664-2.037-4.379-3.751l0,0c-4.231-4.231-5.585-6.819-4.26-8.145l0.319-0.316 c1.658-1.632,2.658-2.617-0.171-6.137C7.247,1.654,6.34,1.04,5.497,1.004C5.471,1.003,5.444,1.002,5.419,1.002z"/></g><g><path d="M24.07,12.29c-0.063,0-0.126-0.012-0.188-0.037c-0.256-0.104-0.38-0.395-0.275-0.65c0.636-1.568,0.272-3.355-0.924-4.552 c-1.229-1.229-3.118-1.57-4.703-0.858c-0.249,0.113-0.548,0.003-0.661-0.249c-0.114-0.252-0.003-0.548,0.249-0.661 c1.961-0.888,4.3-0.461,5.822,1.062c1.481,1.481,1.93,3.692,1.143,5.634C24.455,12.171,24.267,12.29,24.07,12.29z"/><path d="M28.534,14.102c-0.063,0-0.126-0.012-0.188-0.037c-0.257-0.104-0.38-0.395-0.275-0.65 c1.365-3.367,0.588-7.202-1.981-9.771c-2.638-2.638-6.695-3.378-10.095-1.841c-0.252,0.11-0.548,0.002-0.662-0.25 C15.22,1.3,15.331,1.004,15.583,0.89c3.777-1.706,8.283-0.885,11.214,2.046c2.854,2.854,3.718,7.114,2.2,10.854 C28.919,13.984,28.731,14.102,28.534,14.102z"/></g></g></svg>
                                </span>
                                Оставить заявку
                            </a>
                        </li>
<!--                        <li>-->
<!--                            <a class="nav__exit" href="logout" @click.prevent="logout">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">-->
<!--                                    <path d="M48 21H27c-.6 0-1-.4-1-1s.4-1 1-1h21c.6 0 1 .4 1 1s-.4 1-1 1zM21 50c-.2 0-.3 0-.5-.1L1.7 40.5C.7 40 0 38.9 0 37.8V3c0-1.7 1.3-3 3-3h9c.6 0 1 .4 1 1s-.4 1-1 1H4.3l17.1 8.1c.3.2.6.5.6.9v38c0 .3-.2.7-.5.8-.1.1-.3.2-.5.2zM2 3.1v34.6c0 .4.2.7.6.9L20 47.4V11.6L2 3.1z"/>-->
<!--                                    <path d="M40 30c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l8.3-8.3-8.3-8.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l9 9c.4.4.4 1 0 1.4l-9 9c-.2.2-.4.3-.7.3zM30 40h-9c-.6 0-1-.4-1-1s.4-1 1-1h9c.6 0 1-.4 1-1v-8c0-.6.4-1 1-1s1 .4 1 1v8c0 1.7-1.3 3-3 3zM32 12c-.6 0-1-.4-1-1V3c0-.6-.4-1-1-1H8c-.6 0-1-.4-1-1s.4-1 1-1h22c1.7 0 3 1.3 3 3v8c0 .6-.4 1-1 1z"/>-->
<!--                                </svg>-->
<!--&lt;!&ndash;                                Выйти&ndash;&gt;-->
<!--                            </a>-->
<!--                        </li>-->
                        <li class="nav__item">
                            <a href="logout" @click.prevent="logout" class="nav__link" >
                            <span class="nav__icon">
                                <svg fill="var(--main)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                    <path d="M48 21H27c-.6 0-1-.4-1-1s.4-1 1-1h21c.6 0 1 .4 1 1s-.4 1-1 1zM21 50c-.2 0-.3 0-.5-.1L1.7 40.5C.7 40 0 38.9 0 37.8V3c0-1.7 1.3-3 3-3h9c.6 0 1 .4 1 1s-.4 1-1 1H4.3l17.1 8.1c.3.2.6.5.6.9v38c0 .3-.2.7-.5.8-.1.1-.3.2-.5.2zM2 3.1v34.6c0 .4.2.7.6.9L20 47.4V11.6L2 3.1z"/>
                                    <path d="M40 30c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l8.3-8.3-8.3-8.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l9 9c.4.4.4 1 0 1.4l-9 9c-.2.2-.4.3-.7.3zM30 40h-9c-.6 0-1-.4-1-1s.4-1 1-1h9c.6 0 1-.4 1-1v-8c0-.6.4-1 1-1s1 .4 1 1v8c0 1.7-1.3 3-3 3zM32 12c-.6 0-1-.4-1-1V3c0-.6-.4-1-1-1H8c-.6 0-1-.4-1-1s.4-1 1-1h22c1.7 0 3 1.3 3 3v8c0 .6-.4 1-1 1z"/>
                                </svg>
                            </span>
                                Выйти
                            </a>
                        </li>
                    </ul>

                    <div class="nav__logo">
                        <a :href="hospital.logoLink">
                            <img src="/logo" width="55" alt="logo">
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            hospital: {},
            itemsToShow: {},
            bus: {}
        },
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                loading: false,
                isOpen: false,
            }
        },
        computed: {
            token() {
                let token = document.head.querySelector('meta[name="csrf-token"]');
                return token.content
            }
        },
        created() {
            this.bus.$on('nav-changed', this.navChanged)
        },
        methods: {
            changeInd(id) {
                // this.ind = id
                // $(".lunderarumsa").removeClass('test');
                // $(".line-wrapp").removeClass('active');
                // if ($(".line-wrapp").hasClass("active")) {
                //     console.log('Ok');
                //     $(".navactive2").css('border-right', 'none');
                //     $(".navactive2").css('width', '80px');
                // } else {
                //     $(".navactive2").css('border-right', '3px solid #FF2222');
                //     $(".navactive2").css('width', '78px');
                // }
            },
            logout() {
                axios.post('/logout').then(response => {
                    if (response.status === 302 || 401) {
                        location.href = '/'
                    }
                    else {
                        // throw error and go to catch block
                    }
                }).catch(error => {

                });

            },
            showLeaveRequest() {
                this.bus.$emit('show-leave-request', true)
                this.navChanged(false)
            },
            getAddress(){
                return formatAddress(this.hospital)
            },
            navChanged(toOpen){
                if (typeof toOpen === 'boolean'){
                    this.isOpen = toOpen
                } else {
                    this.isOpen = !this.isOpen
                }
                if(!window.matchMedia('(max-width: 768px)').matches){
                    this.bus.$emit('nav-changed-for-content', this.isOpen, $('.nav').width()*2.2)
                }
            }
        },
    }
</script>
