<template>
    <div class="container">
        <div class="title"><router-link to="/program" class="breadcrumb-item">Программы лечения</router-link> / {{ program.name }}</div>

<!--        <div class="block__head" style="margin-top: 20px">{{ program.name }}</div>-->

        <div v-if="program.name" class="program-info">
            <div class="program-info-column block__content left">
                    <div class="block__item">
                        <div class="block__text">Состояние:</div>
                        <div class="block__title">{{ program.isok }}</div>
                    </div>
                    <div class="block__item">
                        <div class="block__text">Дата создания:</div>
                        <div class="block__title">{{ program.date }}</div>
                    </div>
                    <div class="block__item">
                        <div class="block__text">Период действия:</div>
                        <div class="block__title">{{ program.expPeriod }}</div>
                    </div>
            </div>
            <div class="program-info-column block__content right">
                    <div class="block__item">
                        <div class="block__text">Врач:</div>
                        <div class="block__title">{{ program.usName }}</div>
                    </div>
                    <div class="block__item">
                        <div class="block__text">Цена:</div>
                        <div class="block__title">{{ program.price }}</div>
                    </div>
            </div>
        </div>

        <table class="table table-zapis display-lg">
            <tr>
                <th>Код услуги</th>
                <th>Наименование услуги</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th>Сумма</th>
                <th>Выполнено</th>
<!--                <th>Выполнить</th>-->
            </tr>
            <template v-if="services.length > 0">
                <tr v-for="item in services" style="background: #ffffff;">
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quant }}</td>
                    <td>{{ item.cost }}</td>
                    <td>{{ item.costall }}</td>
                    <td>{{ item.doneQuant }}</td>
<!--                    <td>{{ item.do }}</td>-->
                </tr>
            </template>
            <template v-else>
                <tr v-if="!loading && !isInfoLoading" style="background: #ffffff;">
                    <td colspan="8" style="text-align: center;">{{ emptyText }}</td>
                </tr>
            </template>
        </table>

        <template v-for="item in services">
            <ProgramServiceBlock :item="item"/>
        </template>
        <EmptyBlock v-if="!loading && !isInfoLoading" :text="emptyText" :count="services.length" />
        <Preloader :visible="loading"/>
    </div>
</template>
<script>
    import Preloader from "./popups/Preloader";
    import EmptyBlock from "./blocks/EmptyBlock";
    import ProgramServiceBlock from "./blocks/ProgramServiceBlock";

    export default {
        components: {ProgramServiceBlock, EmptyBlock, Preloader},
        data() {
            return {
                services: [],
                loading: false,
                emptyText: 'Услуги отсутсвуют',
                program: {}
            }
        },
        props: {
            programId: null,
            bus: {},
            isInfoLoading: false
        },
        created() {
            if (this.isInfoLoading) {
                this.bus.$on('load-next', this.getProgramService)
            } else {
                this.getProgramService()
            }
        },
        methods: {
            getProgramService() {
                var programId = this.$route.params.id
                this.loading = true
                axios.get('/api/program/'+programId)
                    .then(response => {
                        if (response.data.services) {
                            this.services = response.data.services
                            this.program = response.data.program
                        } else {
                            console.log(response.data)
                        }
                    })
                    .finally(() => (
                        this.loading = false
                    ))
            }
        },
    }
</script>
<style>
    .breadcrumb-item {
        color: #4a4a4a
    }
    .breadcrumb-item:hover{
        color: red
    }
    .program-info {
        display: table;
        margin-bottom: 40px;
        width: 100%;
    }
    .program-info-column{
        display: table-cell;
        width: 50%;
    }
    @media (max-width: 820px) {
        .program-info-column {
            display: block;
            width: 100%;
            padding: 0;
        }
        .program-info-column.left {
            padding-top: 1rem;
        }
        .program-info-column.right {
            padding-bottom: 1rem;
        }
    }
</style>
