<template>
    <div class="container">

        <div class="title">Программы лечения</div>

        <table class="table table-zapis display-lg">
            <tr>
                <th>Наименование</th>
                <th>Состояние</th>
                <th>Дата создания</th>
                <th>Период действия</th>
                <th>Врач</th>
                <th>Цена</th>
            </tr>
            <template v-if="programs.length > 0">
                <tr class="table-row highlighted" v-for="(item, index)  in programs" v-on:click="toService(index)">
                    <td>{{item['name']}}</td>
                    <td>{{item['isok']}}</td>
                    <td>{{item['date']}}</td>
                    <td>{{item['expPeriod']}}</td>
                    <td>{{item['usName']}}</td>
                    <td>{{item['price']}}</td>
                </tr>
            </template>
            <template v-else>
                <tr v-if="!loading && !isInfoLoading" style="background: #ffffff;">
                    <td colspan="8" style="text-align: center;">{{ emptyText }}</td>
                </tr>
            </template>
        </table>

        <template v-for="(item, index) in programs">
            <ProgramBlock :item="item" :index="index" :toService="toService" />
        </template>
        <EmptyBlock v-if="!loading && !isInfoLoading" :text="emptyText" :count="programs.length"/>
        <Preloader :visible="loading"/>
    </div>
</template>
<script>
    import Preloader from "./popups/Preloader";
    import ProgramBlock from "./blocks/ProgramBlock";
    import EmptyBlock from "./blocks/EmptyBlock";

    export default {
        components: {EmptyBlock, ProgramBlock, Preloader},
        data() {
            return {
                programs: [],
                loading: false,
                emptyText: 'Программы лечения не найдены'
            }
        },
        props: {
            bus: {},
            isInfoLoading: false
        },
        created() {
            if (this.isInfoLoading) {
                this.bus.$on('load-next', this.getProgram)
            } else {
                this.getProgram()
            }
        },
        methods: {
            getProgram() {
                this.loading = true
                axios.get('api/program')
                    .then(response => {
                        this.programs = response.data
                    })
                    .finally(() => (
                        this.loading = false
                    ))
            },
            toService(index) {
                this.$router.push({name: 'programServices', params: {'id': this.programs[index].id}})
            }
            // more(id) {
            //     axios
            //         .get('/program/getProgramServ/' + id)
            //         .then(response => {
            //             this.program_serv = response.data
            //             this.moreFlag = !this.moreFlag
            //             this.more_id = id;
            //         })
            //
            // }
        },
    }
</script>
<style>
    .table-row.highlighted:hover{
        background: rgba(255, 0, 0, 0.03);
    }
</style>
