<template>
    <div v-if="visible" class="blackout">
        <div id="leave-request-modal" class="archimed-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="#" id="request-form" class="form-horizontal">
                        <div v-if="gotSendAnswer">
                            <div class="modal-header">
                                <button v-on:click="close" type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                <div v-if="success_send">
                                    <h3 class="modal-title">Заявка успешно отправлена</h3>
                                    <p>Наши сотрудники свяжутся с Вами в самое ближайшее время!</p>
                                </div>
                                <div v-else>
                                    <h3 class="modal-title">При отправке заявки возникла ошибка</h3>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="modal-header">
                                <button v-on:click="close" type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                <h3 class="modal-title">Не нашли то, что искали?</h3>
                                <p>Закажите обратный звонок и мы
                                    сориентируем Вас по всем вопросам</p>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <template v-if="!user">
                                                <label class="col-lg-3 control-label">
                                                    Имя<span class="required">*</span>
                                                </label>
                                                <div class="col-lg-9" style="margin-bottom: 5px">
                                                    <input type="text" class="form-control" v-on:input="checkDataValid"
                                                           v-model="name">
                                                </div>
                                            </template>

                                            <label class="col-lg-3 control-label">
                                                Телефон<span class="required">*</span>
                                            </label>
                                            <div class="col-lg-9">
                                                <input  type="text" class="form-control" v-on:input="checkDataValid"
                                                        v-model="phone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <p class="modal-confirm">
                                            <a href="#" id="request-form-send" v-on:click="send()" class="btn confirm-btn" v-bind:class="{'btn-disable': btnDisabled}">
                                                <strong>Отправить</strong>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    props: {
        user: {},
        bus: {}
    },
    data(){
        return {
            btnDisabled: true,
            success_send: false,
            loading: false,
            gotSendAnswer: false,
            visible: false,
            phone: '',
            name: ''
        }
    },
    created() {
        this.bus.$on('show-leave-request', this.showLeaveRequestChanged)
    },

    methods: {
        close(){
            // this.$emit('showleaverequest', false)
            this.showLeaveRequestChanged(false)
            this.success_send = false
            this.gotSendAnswer = false
        },
        send(){
            if (!this.btnDisabled){
                this.btnDisabled = true
                let name = !this.user ? '&name='+ encodeURIComponent(this.name) : '';
                axios.get('/sendRequest?phone=' + encodeURIComponent(this.phone) + name)
                    .then(response => {
                        this.success_send = response.data.success === true;
                        this.gotSendAnswer = true
                    })
                    .finally(() => (
                            this.btnDisabled = false
                        ))
            }
        },
        checkDataValid(){
            this.btnDisabled = !(this.phone !== '' && (this.name !== '' || this.user));
        },
        showLeaveRequestChanged(toOpen){
            this.phone = this.phone || (this.user ? this.user.PHONE : '');
            this.checkDataValid()
            this.visible = toOpen
        }
    }
}
</script>
