<template>
    <div class="container">

        <div class="title">Запись на прием</div>

        <SelectList :days="days" :selected="selected" @dayselected="daySelected"/>

        <div class="filter display-lg">
            <a v-for="(item, index) in days" href="#" v-on:click="daySelected(index)"
               v-bind:class="{'active': index === selected}">{{ item.str }}</a>
        </div>

        <table class="table table-zapis display-lg">
            <tr>
                <th>Специализация</th>
                <th>ФИО врача</th>
                <th>Дата</th>
                <th>Время приема</th>
                <th>Адрес</th>
                <th>Кабинет</th>
                <th>Статус обращения</th>
                <th>Вид приема</th>
            </tr>
            <template v-if="talons.length > 0">
                <tr v-for="(item, index) in talons" style="background: #ffffff;">
                    <td>{{item.doctype}}</td>
                    <td>{{item.DOCTOR}}</td>
                    <td>{{item.SHIFTDATE}}</td>
                    <td>{{item.BEGINTIME}} - {{item.ENDTIME}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.room}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.type}}</td>
                </tr>
            </template>
            <template v-else>
                <tr v-if="!loading && !isInfoLoading" style="background: #ffffff;">
                    <td colspan="8" style="text-align: center;">{{emptyText}}</td>
                </tr>
            </template>
        </table>

        <template v-for="(item, index) in talons">
            <ZapisBlock :talon="item"/>
        </template>
        <EmptyBlock v-if="!loading && !isInfoLoading" :text="emptyText" :count="talons.length"/>

        <Preloader :visible="loading"/>
    </div>
</template>

<script>
    import Preloader from "./popups/Preloader";
    import ZapisBlock from "./blocks/ZapisBlock";
    import SelectList from "./blocks/SelectList";
    import EmptyBlock from "./blocks/EmptyBlock";

    export default {
        components: {EmptyBlock, SelectList, Preloader, ZapisBlock},
        props: {
            bus: {},
            isInfoLoading: false
        },
        data() {
            var days = [
                {'int': 0, 'str': 'Текущие записи'},
                {'int': 7, 'str': 'Последние 7 дней'},
                {'int': 30, 'str': 'Последние 30 дней'},
                {'int': -1, 'str': 'Все'},
            ]
            return {
                days: days,
                allTalons: [],
                talons: [],
                selected: 0,
                loading: false,
                emptyText: 'Талоны не найдены'
            }
        },
        created() {
            if (this.isInfoLoading) {
                this.bus.$on('load-next', this.getTalons)
            } else {
                this.getTalons()
            }
        },
        methods: {
            getTalons() {
                this.loading = true
                axios.get('/zapis/getTalons')
                    .then(response => {
                        this.allTalons = response.data.talons
                        this.filterTalons()
                    })
                    .finally(() => (
                        this.loading = false
                    ))
            },
            daySelected(index) {
                this.selected = index
                this.filterTalons()
            },
            filterTalons() {
                var d = this.days[this.selected].int
                if (d === -1) {
                    this.talons = this.allTalons
                } else if (d === 0) {
                    this.talons = this.allTalons.filter(function (a) {
                        return getDate(a.SHIFTDATE, a.BEGINTIME) >= new Date()
                    })
                } else {
                    var periodStart = new Date(),
                        now = new Date()
                    periodStart.setDate(periodStart.getDate() - d)
                    periodStart.setHours(0, 0, 0)
                    this.talons = this.allTalons.filter(function (a) {
                        var talonDate = getDate(a.SHIFTDATE, a.BEGINTIME)
                        return talonDate >= periodStart &&
                            talonDate <= now
                    })
                }
            }
        }
    }
</script>
