<template>
    <div class="block line display-xs">
        <div class="block__content">
            <div class="block__item">
                <div class="block__title">Наименование</div>
                <div class="block__text">{{item['Name']}}</div>
            </div>
            <div class="block__item">
                <div class="block__title">Дата</div>
                <div class="block__text">{{item['date']}}</div>
            </div>


            <div class="block__item block__item-hide">
                <div class="block__title">Время сдачи</div>
                <div class="block__text">{{item['time']}}</div>
            </div>

            <div class="block__item block__item-hide">
                <div class="block__title">Код посещения</div>
                <div class="block__text">{{item['code']}}</div>
            </div>

            <div class="block__item">
                <div class="block__title">Действия</div>
                <div class="block__text">
                    <a :href="'/analyze/pdf/'+item['code']" target="_blank" class="block__pdf"> <PdfIcon /> </a>
                    <a href="#" v-on:click="send(item['code'])" class="block__email"> <EmailIcon /> </a>
                </div>
            </div>


            <button class="block__toggle" v-on:click="onToggleDetail" type="button">{{ isOpen ? 'Скрыть': 'Подробнее'}}</button>
        </div>
    </div>
</template>

<script>
    import EmailIcon from "../icons/EmailIcon";
    import PdfIcon from "../icons/PdfIcon";

    export default {
        components: {
            EmailIcon, PdfIcon
        },
        props: {
            item: {},
            send: Function,
        },
        data(){
            return {
                isOpen: false
            }
        },
        methods: {
            onToggleDetail(){
                $(this.$el).find('.block__item-hide').slideToggle();
                this.isOpen = !this.isOpen
            }
        }
    }
</script>
