<template>
    <div v-if="count===0" class="block line display-xs">
        <div class="block__content">
            <div class="block__item">
                <div class="block__text">{{ text }}</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            text: '',
            count: ''
        }
    }
</script>
