<template>
    <div class="block line display-xs">
        <div class="block__content">
            <div class="block__item">
                <div class="block__title">Дата</div>
                <div class="block__text">{{ item.date }}</div>
            </div>
            <div class="block__item">
                <div class="block__title">Услуга</div>
                <div class="block__text">{{ item.name }}</div>
            </div>
            <div class="block__item">
                <div class="block__title">Количество</div>
                <div class="block__text">{{ item.quant }}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Сумма</div>
                <div class="block__text">{{ item.costall }} р.</div>
            </div>
<!--            <div class="block__item block__item-hide">-->
<!--                <div class="block__title">Статус</div>-->
<!--                <div class="block__text">{{ item.checkState }}</div>-->
<!--            </div>-->
            <div class="block__item block__item-hide">
                <div class="block__title">Оплачено</div>
                <div class="block__text">{{ item.paymentCost }} р.</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Долг</div>
                <div class="block__text">{{ item.restCost }} р.</div>
            </div>


            <button class="block__toggle" v-on:click="onToggleDetail" type="button">{{ isOpen ? 'Скрыть': 'Подробнее'}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {},
        },
        data(){
            return {
                isOpen: false
            }
        },
        methods: {
            onToggleDetail(){
                $(this.$el).find('.block__item-hide').slideToggle();
                this.isOpen = !this.isOpen
            }
        }
    }
</script>
