<template>
    <div class="block line display-xs">
        <div class="block__content">

            <div class="block__item block__item-hide">
                <div class="block__title">Код услуги</div>
                <div class="block__text">{{ item.code }}</div>
            </div>
            <div class="block__item">
                <div class="block__title">Наименование услуги</div>
                <div class="block__text">{{ item.name }}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Количество</div>
                <div class="block__text">{{ item.quant }}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Стоимость</div>
                <div class="block__text">{{ item.cost }}</div>
            </div>
            <div class="block__item">
                <div class="block__title">Сумма</div>
                <div class="block__text">{{ item.costall }}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Выполнено</div>
                <div class="block__text">{{ item.doneQuant }}</div>
            </div>

            <button class="block__toggle" v-on:click="onToggleDetail" type="button">{{ isOpen ? 'Скрыть': 'Подробнее'}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {},
        },
        data(){
            return {
                isOpen: false
            }
        },
        methods: {
            onToggleDetail(){
                $(this.$el).find('.block__item-hide').slideToggle();
                this.isOpen = !this.isOpen
            }
        }
    }
</script>
