<template>
    <div class="block line display-xs">
        <div class="block__content" v-on:click="toService(index)">
            <div class="block__item">
                <div class="block__title">Наименование</div>
                <div class="block__text">{{item['name']}}</div>
            </div>
            <div class="block__item">
                <div class="block__title">Состояние</div>
                <div class="block__text">{{item['isok']}}</div>
            </div>
            <div class="block__item">
                <div class="block__title">Дата создания</div>
                <div class="block__text">{{item['date']}}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Период действия</div>
                <div class="block__text">{{item['expPeriod']}}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Врач</div>
                <div class="block__text">{{item['usName']}}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Цена</div>
                <div class="block__text">{{item['price']}} р.</div>
            </div>

<!--            <button class="block__toggle" v-on:click="onToggleDetail" type="button">{{ isOpen ? 'Скрыть': 'Подробнее'}}</button>-->
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {},
            index: 0,
            toService: Function,
        },
        data(){
            return {
                isOpen: false
            }
        },
        methods: {
            onToggleDetail(){
                $(this.$el).find('.block__item-hide').slideToggle();
                this.isOpen = !this.isOpen
            }
        }
    }
</script>
