<template>
    <div class="select display-xs">
        <div class="select__current" v-on:click="currentClicked">{{days[selected].str}}</div>
        <ul class="select__list">
            <li v-for="(item, index) in days" v-on:click="daySelected(index)" v-bind:class="{'current': index === selected}">{{ item.str }}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            days: {},
            selected: {}
        },
        mounted() {
            $(this.$el).find('.select__list').slideUp(0);
        },
        methods: {
            daySelected(index){
                this.$emit('dayselected', index)

                var parent = $(this.$el)
                parent.find('.select__list').slideToggle(300);
                parent.removeClass('active')
            },
            currentClicked(){
                var parent = $(this.$el)
                this.isSelectActive = !this.isSelectActive
                parent.toggleClass('active');
                parent.find('.select__list').slideToggle(300);
            }
        }
    }
</script>
