<template>
    <div class="block line display-xs">
        <div class="block__content">
            <div class="block__item">
                <div class="block__title">ФИО врача</div>
                <div class="block__text">{{talon.DOCTOR}}</div>
            </div>

            <div class="block__row">
                <div class="block__item">
                    <div class="block__title">Дата</div>
                    <div class="block__text">{{talon.SHIFTDATE}}</div>
                </div>
                <div class="block__item block__item-hide">
                    <div class="block__title">Время приема</div>
                    <div class="block__text">{{talon.BEGINTIME}} - {{talon.ENDTIME}}</div>
                </div>
            </div>

            <div class="block__item block__item-hide">
                <div class="block__title">Специализация</div>
                <div class="block__text">{{talon.doctype}}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Адрес</div>
                <div class="block__text">{{talon.address}}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Кабинет</div>
                <div class="block__text">{{talon.room}}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Статус обращения</div>
                <div class="block__text">{{talon.status}}</div>
            </div>
            <div class="block__item block__item-hide">
                <div class="block__title">Вид приема</div>
                <div class="block__text">{{talon.type}}</div>
            </div>

            <button class="block__toggle" v-on:click="onToggleDetail" type="button">{{ isOpen ? 'Скрыть': 'Подробнее'}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            talon: {}
        },
        data(){
            return {
                isOpen: false
            }
        },
        methods: {
            onToggleDetail(){
                $(this.$el).find('.block__item-hide').slideToggle();
                this.isOpen = !this.isOpen
            }
        }
    }
</script>
